<!-- To be shown on more filters -->
<div class="container">
  <div class="fm-row fm-top">
    <div class="col-md-6">
      <ul class="filters">
        <li id="li_0" [ngClass]="selectedItemA" (click)="getSelectedVehicles(null,'itemA')">
          <a class="total1">
            <i class="fa fa-car" matTooltip="Total" aria-hidden="true"> <span class="white-text"> {{ vehicles }}
              </span></i>
          </a>
        </li>

        <li id="li_3" [ngClass]="selectedItemD" (click)="getSelectedVehicles(3,'itemD')">
          <a class="logged">
            <i class="fa fa-car" matTooltip="Logged in" aria-hidden="true">
              <span class="white-text">{{ vehicleLogged }} </span>
            </i>
          </a>
        </li>

        <li id="li_2" [ngClass]="selectedItemE" (click)="getSelectedVehicles(2,'itemE')">
          <a class="non_occupied">
            <i class="fa fa-car" matTooltip="Logged out" aria-hidden="true">
              <span class="white-text">{{ vehiclePaused }} </span>
            </i>
          </a>
        </li>

        <li id="li_6" [ngClass]="selectedItemB" (click)="getSelectedVehicles(6,'itemB')">
          <a class="occupied">
            <i class="fa fa-car" matTooltip="Booked" aria-hidden="true">
              <span class="white-text">{{vehicleBooked}} </span>
            </i>
          </a>
        </li>
        <li id="li_5" [ngClass]="selectedItemG" (click)="getSelectedVehicles(5,'itemG')">
          <a class="free">
            <i class="fa fa-car" matTooltip="Free" aria-hidden="true">
              <span class="white-text">{{ vehicleFree }} </span>
            </i>
          </a>
        </li>

        <li id="li_1" [ngClass]="selectedItemC" (click)="getSelectedVehicles(1,'itemC')">
          <a class="offline">
            <i class="fa fa-car" matTooltip="Paused" aria-hidden="true">
              <span class="white-text">{{ vehicleOffline }} </span>
            </i>
          </a>
        </li>
        <li id="li_4" [ngClass]="selectedItemF" (click)="getSelectedVehicles(4,'itemF')">
          <a class="mantain">
            <i class="fa fa-car" matTooltip="In maintenance" aria-hidden="true">
              <span class="white-text"> {{ vehicleInMaintenace }}</span>
            </i>
          </a>
        </li>
        <!--<li id="li_4" [ngClass]="selectedItemF" (click)="getSelectedVehicles(7,'itemH')">
            <a class="blocked">
              <i class="fa fa-car" matTooltip="Blocked Vehicle" aria-hidden="true">
                <span class="white-text"> {{ vehicleBlocked }}</span>
              </i>
            </a>
          </li>-->
        <li id="li_4" [ngClass]="selectedItemI" (click)="getSelectedVehicles(8,'itemI')">
          <a class="unused">
            <i class="fa fa-car" matTooltip="Inactive" aria-hidden="true">
              <span class="white-text"> {{ Inactive}}</span>
            </i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-right">
      <ng-container *ngIf="downloads">
        <span matTooltip="CSV" style="cursor: pointer">
          <img src="assets/img/csv.png" (click)="createCsv()" />
        </span>
      </ng-container>
      <button type="button" class="btn btn-primary reset-blue"
      (click)="getSelectedVehicles(null,'itemA')">Search</button>
      <button class="btn btn-sm btn-primary btn-red" (click)="reset()">
        <i class="fa fa-eraser"></i>
        Reset filters
      </button>
      <button type="button" class="btn btn-primary reset-blue" (click)="SendMessageDialog(searchDataVehicles)">Send
        Message</button>
      <!--<button type="button" class="btn btn-primary" (click)="getVehiclesForDiffStatus();getSelectedVehicles(null, 'itemA')">Refresh</button>-->
    </div>
    <div class="col-md-12 text-capitalize vehicle_forms">
      <div class="col-md-2">
        <!--<input type="text " class="form-control" [matAutocomplete]="auto1" placeholder="Vehicle Name" (keyup)="clearFilter($event)" (keydown)="search($event,'name')">
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let vehicle of searchDataVehicles" (onSelectionChange)="filter(vehicle['arr'].display_name,'name')" value="{{ vehicle['arr'].display_name}}">
                {{ vehicle["arr"].display_name}}
              </mat-option>
            </mat-autocomplete>-->
        <input matInput placeholder="Search Vehicle" class="form-control" name="vehicleFilter"
          (ngModelChange)="setVehicleFilter($event,'setVehicleFilter')" [(ngModel)]="vehicleFilter"
          [formControl]="queryField" aria-label="Vehicle" [matAutocomplete]="Vehicles">
        <img *ngIf="loadingIndicator == 'setVehicleFilter'" class="loading_indicator" src="assets/img/loading.gif">
        <mat-autocomplete #Vehicles="matAutocomplete" [displayWith]="displayFnvehicle">
          <mat-option *ngFor="let vehicle of selectVehicleData" [value]="vehicle">
            <div class="option-otr">
              <div class="option_span">{{ vehicle.display_name }} </div>
              <div class="option_span">{{ vehicle.licence_number }} </div>
              <div class="option_span">{{ vehicle.registration_number }} </div>
            </div>
          </mat-option>
          <mat-option *ngIf="selectVehicleData?.length==0">No Matches Found</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md-2">
        <!--<input type="text " class="form-control" [matAutocomplete]="auto2" placeholder="Driver Name" (keyup)="clearFilter($event)" (keydown)="search($event,'driver')">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let vehicle of driverList" (onSelectionChange)="filter(vehicle.id,'driver')" value="{{vehicle.driver}}">
                    {{vehicle.driver}}
                </mat-option>
              </mat-autocomplete>-->

        <input matInput placeholder="Select Driver" class="form-control" name="driverFilter"
          (ngModelChange)="setDriverFilter($event)" [(ngModel)]="driverFilter" [formControl]="drivers"
          aria-label="Drivers" [matAutocomplete]="Drivers">
        <img *ngIf="loadingIndicator == 'setDriverFilter'" class="loading_indicator" src="assets/img/loading.gif">
        <mat-autocomplete #Drivers="matAutocomplete" [displayWith]="displayFnDriver">
          <mat-option *ngFor="let driver of selectDriverData" [value]="driver">
            <div class="option-otr">
              <div class="option_span">
                <b> Username:</b> {{ driver.username }}</div>
              <div class="option_span" title="{{ driver.name }} &nbsp;{{ driver.surname }}">
                <b>Name&Surname:</b>{{ driver.name }} &nbsp;{{ driver.surname }}</div>
              <div class="option_span">
                <b>Display Name:</b>{{ driver.display_name }}</div>
            </div>
          </mat-option>
          <mat-option *ngIf="selectDriverData?.length==0">No Matches Found</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md-2">
        <!--<input type="text " class="form-control" [matAutocomplete]="auto3" placeholder="Vehicle model" (keyup)="clearFilter($event)" (keydown)="search($event,'model')">
              <mat-autocomplete #auto3="matAutocomplete">
                <mat-option *ngFor="let vehicle of modelList" (onSelectionChange)="filter(vehicle.id,'model')" value="{{vehicle.model}}">
                    {{vehicle.model}}
                </mat-option>
              </mat-autocomplete>
            -->
        <input matInput placeholder="Select Vehicle Model" class="form-control" name="modelFilter"
          [(ngModel)]="modelFilter" (ngModelChange)="setModelFilter($event)" aria-label="Models"
          [matAutocomplete]="Models" [ngModelOptions]="{standalone: true}">
        <img *ngIf="loadingIndicator == 'setModelFilter'" class="loading_indicator" src="assets/img/loading.gif">
        <mat-autocomplete #Models="matAutocomplete" [displayWith]="displayFnModel">
          <mat-option *ngFor="let model of modelList" [value]="model">
            {{ model.name }}
          </mat-option>
          <mat-option *ngIf="modelList?.length==0">No Matches Found</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md-2">
        <input matInput placeholder="Select Device" class="form-control" name="unique_device_id"
          (ngModelChange)="searchDevice($event)" [formControl]="devices" aria-label="Device" [matAutocomplete]="device"
          [(ngModel)]="unique_device_id">
        <img *ngIf="loadingIndicator == 'searchDevice'" class="loading_indicator" src="assets/img/loading.gif">
        <mat-autocomplete #device="matAutocomplete" [displayWith]="displayFnDevice">
          <mat-option *ngFor="let device of deviceSearch" [value]="device">
            <div class="option-otr">
              <div class="option_span">{{device.unique_device_id}}</div>
              <div class="option_span"> {{device.device_model}}</div>
            </div>
          </mat-option>
          <mat-option *ngIf="deviceSearch?.length==0">No Matches Found</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md-1">
        <input matInput placeholder="Plate Number" class="form-control" name="plateFilter"
          (ngModelChange)="setVehicleFilter($event,'setVehiclePlate')" [(ngModel)]="vehicleFilter1"
          [formControl]="queryField2" aria-label="Vehicle" [matAutocomplete]="Plate">
        <img *ngIf="loadingIndicator == 'setVehiclePlate'" class="loading_indicator" src="assets/img/loading.gif">
        <mat-autocomplete #Plate="matAutocomplete" [displayWith]="displayFnplate">
          <mat-option *ngFor="let vehicle of selectVehicleData" [value]="vehicle">
            {{ vehicle.plate_number }}
          </mat-option>
          <mat-option *ngIf="selectVehicleData?.length==0">No Matches Found</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md-2">
        <input matInput placeholder="Side Number" class="form-control" name="sideFilter"
          (ngModelChange)="setVehicleFilter($event,'setVehicleSideNo')" [(ngModel)]="vehicleFilter2"
          [formControl]="queryField3" aria-label="Vehicle" [matAutocomplete]="Side">
        <img *ngIf="loadingIndicator == 'setVehicleSideNo'" class="loading_indicator" src="assets/img/loading.gif">
        <mat-autocomplete #Side="matAutocomplete" [displayWith]="displayFnside">
          <mat-option *ngFor="let vehicle of selectVehicleData" [value]="vehicle">
            {{ vehicle.vehicle_identity_number }}
          </mat-option>
          <mat-option *ngIf="selectVehicleData?.length==0">No Matches Found</mat-option>
        </mat-autocomplete>
      </div>
      <!--<div class="col-sm-1 col-md-1">
          <select [(ngModel)]="sort_by_column" (ngModelChange)="sortColumn($event)" name="sort_by_coloumn" class="form-control" placeholder="Sort By">
            <option value="_id">Id</option>
          </select>
        </div>
        <div class="col-sm-1 col-md-1">
          <select [(ngModel)]="sort_type" (ngModelChange)="sortOrder($event)" name="sort_type" class="form-control" placeholder="Sort Type">
            <option value="Desc">Desc</option>
            <option value="asc">Asc</option>
          </select>
        </div>-->
      <div class="col-sm-1 col-md-1">
        <select [(ngModel)]="pageSize" (ngModelChange)="sortPageSize($event)" name="pageSize" class="form-control"
          placeholder="limit">
          <option value="10">10/page</option>
          <option value="20">20/page</option>
          <option value="30">30/page</option>
          <option value="50">50/page</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 text-capitalize vehicle_forms" *ngIf="dtc">
      <div class="col-sm-2 col-md-2 text-center">
        <mat-select [(ngModel)]="companyIdFilter" placeholder="Company" class="form-control" multiple>
          <mat-option value="all" (click)="selectAllCompany()">All</mat-option>
          <mat-option (click)="companyManualSelect()" *ngFor="let company of companyData" [value]="company._id">
            {{company.company_name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="fm-row" id="vehicle">
    <div class="table-responsive mb-table order-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <!--<th>Stats</th>-->
            <th>Vehicle Name</th>
            <th>Driver Name</th>
            <th>Phone Number</th>
            <th>Registration Number</th>
            <th>Vehicle Model</th>
            <th>Licence Number</th>
            <!--<th *ngIf="keyword!=8">Device Id</th>-->
            <th>Settings</th>
            <th>View History</th>
            <th>Maintenance History</th>
          </tr>
        </thead>
        <tbody>
          <td colspan="9" *ngIf="searchSubmit else other">
            <img style="position: absolute; left: 43%; top: 50%; height: 135px; border: 0px;"
              src="assets/img/loader.gif" />
          </td>
          <ng-template #other>
            <tr *ngFor="let vehicle of searchDataVehicles">
              <!--<td style="font-size: 14px" class="text-center">
                  <div *ngIf="vehicle.deviceData else other" style="cursor:pointer;">
                  <i class="fa fa-mobile" matTooltip="{{vehicle.deviceData.device_id.manufacturer}} {{vehicle.deviceData.device_id.device_model}} " aria-hidden="true"></i>
                  <i class="fa fa-location-arrow" [ngStyle]="{ 'color' : iconColor(vehicle.deviceData.gps_strength)}" matTooltip="Gps strength : {{vehicle.deviceData.gps_strength}}" aria-hidden="true"></i>
                  <i class="fa fa-taxi" matTooltip="{{vehicle.deviceData.device_id.company}}" aria-hidden="true"></i>
                  <i class="fa fa-battery-half" [ngStyle]="{ 'color' : iconColor(vehicle.deviceData.battery)}" matTooltip="Battery :{{vehicle.deviceData.battery}}%" aria-hidden="true"></i>
                  </div>
                  <ng-template #other>
                  <div style="cursor:default">
                  <i class="fa fa-mobile" style="color: gray" aria-hidden="true"></i>
                  <i class="fa fa-location-arrow" style="color: gray" aria-hidden="true"></i>
                  <i class="fa fa-taxi" style="color: gray" aria-hidden="true"></i>
                  <i class="fa fa-battery-half" style="color: gray" aria-hidden="true"></i>
                  </div> 
                  </ng-template>
            </td>
            -->
              <td style="cursor:pointer">
                <div class="popup-driver" (mouseenter)="mouseEnter(vehicle['arr'])">
                  {{vehicle["arr"].display_name}}
                  <div class="popup-box-driver">
                    <div style="float: right;padding:5px;">
                      <h4 class="text-capitalize">{{vehicle['arr'].display_name}}</h4>
                      <i class="fa fa-car" aria-hidden="true"></i><span
                        class="text-capitalize">{{vehicle['arr'].vehicle_model_id.name}}</span>
                      <br>
                      <!--
                      <i class="fa fa-building-o" aria-hidden="true"></i><span class="text-capitalize">{{vehicle['arr'].vehicle_model_id.company}}</span>
                      <br>-->
                      <i class="fa fa-male" aria-hidden="true"></i><span
                        class="text-capitalize">{{vehicle['arr'].vehicle_model_id.number_of_person}}</span>
                      <br>
                      <i class="fa fa-registered" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].licence_number}}</span>
                      <div *ngIf="icons else other" style="cursor:pointer;">
                        <i class="fa fa-mobile" matTooltip="{{icons.manufacturer}} {{icons.device_model}} "
                          aria-hidden="true"></i>
                        <i class="fa fa-location-arrow" [ngStyle]="{ 'color' : iconColor(icons.gps_strength)}"
                          matTooltip="Gps strength : {{icons.gps_strength}}" aria-hidden="true"></i>
                        <i class="fa fa-taxi" matTooltip="{{icons.company}}" aria-hidden="true"></i>
                        <i class="fa fa-battery-half" [ngStyle]="{ 'color' : iconColor(icons.battery)}"
                          matTooltip="Battery :{{icons.battery}}%" aria-hidden="true"></i>
                      </div>
                      <ng-template #other>
                        <div style="cursor:default">
                          <i class="fa fa-mobile" style="color: gray;font-size: 12px" aria-hidden="true"></i>
                          <i class="fa fa-location-arrow" style="color: gray" aria-hidden="true"></i>
                          <i class="fa fa-taxi" style="color: gray" aria-hidden="true"></i>
                          <i class="fa fa-battery-half" style="color: gray" aria-hidden="true"></i>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </td>
              <td style="cursor:pointer">
                <div *ngIf="vehicle['arr'].driver_id !=null">
                  <div class="popup-driver">
                    {{vehicle["arr"].driver_id!=null ? (vehicle["arr"].driver_id.username!=null ?
                    vehicle["arr"].driver_id.display_name : (vehicle["arr"].drivers['0']
                    ?vehicle["arr"].drivers['0'].display_name:'N/A')) : 'N/A'}}
                    <div class="popup-box-driver">
                      <h4 class="text-capitalize">{{vehicle['arr'].driver_id.display_name}}</h4>
                      <i class="fa fa-phone-square" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].driver_id.phone_number}}</span>
                      <br>
                      <i class="fa fa-venus-mars" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].driver_id.gender}}</span>
                      <br>
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].driver_id.company_join_date}}</span>
                      <br>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].driver_id.avg_ratings}}</span>
                      <br>
                      <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].driver_id.birth_date}}</span>
                      <br>
                      <i class="fa fa-flag" aria-hidden="true"></i>
                      <span class="text-capitalize">{{vehicle['arr'].driver_id.nationality}}</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <span *ngIf="vehicle['arr'].driver_id !=null">{{vehicle["arr"].driver_id._id
                  ?(vehicle["arr"].driver_id.phone_number ? vehicle["arr"].driver_id.phone_number
                  :'') :(vehicle["arr"].drivers['0'] ?vehicle["arr"].drivers['0'].phone_number:'')}}</span>
              </td>
              <td>
                <span class="pie">{{vehicle["arr"].registration_number}}</span>
              </td>
              <td>
                <span class="pie">{{vehicle["arr"].vehicle_model_id!=null ? vehicle["arr"].vehicle_model_id.name :
                  'N/A'}}</span>
              </td>
              <td>{{vehicle["arr"].licence_number}}</td>
              <!--<td *ngIf="keyword!=8">
                <span *ngIf="vehicle['arr'].driver_id !=null">{{vehicle["arr"].driver_id._id ?(vehicle["arr"].driver_id.device_id ? vehicle["arr"].driver_id.device_id
                  : 'N/A') :(vehicle["arr"].drivers['0'] ?vehicle["arr"].drivers['0'].device_id:'N/A')}}</span>
              </td>-->


              <!--<td>{{vehicle["arr"].driver_id.vehicle_status ? vehicle["arr"].driver_id.vehicle_status :vehicle["arr"].drivers['0'].vehicle_status}}</td>-->
              <td>
                <div class="dropdown" *ngIf="vehicle['arr'].driver_id">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a (click)="SendMessageDialog(vehicle['arr'])">Send Message</a>
                    </li>
                    <li>
                      <a (click)="ShowMessageHistory(vehicle['arr'])">Show Message History</a>
                    </li>
                    <li>
                      <a (click)="OrderInfo(vehicle['arr'])">Order Info</a>
                    </li>
                    <li>
                      <a (click)="ShiftDetails(vehicle['arr'])">Shift Details</a>
                    </li>
                    <li>
                      <a (click)="vehicleDetails(vehicle['arr'])">Vehicle Info</a>
                    </li>
                  </ul>
                </div>
                <div *ngIf="!vehicle['arr'].driver_id">driver not Assign</div>
              </td>
              <td>
                <button class="btn btn-primary btn-darkred" type="button" data-toggle="modal"
                  (click)="showModel(vehicle['arr'])" data-id="{{vehicle['arr']._id}}"
                  data-target="#myModel">View</button>
              </td>
              <td>
                <button class="btn blue" type="button" data-toggle="modal" (click)="showMaintenance(vehicle['arr'])"
                  data-id="{{vehicle['arr']._id}}" data-target="#myModel2">View</button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <div class="container-fluid" *ngIf="vehiclesLength==0">
      <div class="row">
        <div class="dataTables_info1">
          <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
            No records found
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="vehiclesLength>0">
      <div class="row">
        <div class="dataTables_info1">
          <div class="col-md-12 text-center">
            <ngb-pagination [collectionSize]="vehiclesLength" (pageChange)="pagingAgent($event,keyword)" [(page)]="pNo"
              [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModel" class="modal fade" role="dialog">
    <img *ngIf="loadingIndicator == 'modalLoader'"
      style="position: absolute; left: 43%; top: 50%; height: 135px; border: 0px; z-index: 999999;"
      src="assets/img/loader.gif" />
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">In Active vehicle Information</h4>
        </div>
        <div class="modal-body">
          <div class="fm-row row" *ngIf="modelopened==true">
            <div class="col-sm-12">
              <p style="text-align: center">
                <b>Device Information</b>
              </p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Label</th>
                    <th>information</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Device Id :
                    </td>
                    <td>
                      {{deviceinfo.unique_device_id}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Device Model :
                    </td>
                    <td>
                      {{deviceinfo.device_model}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Registered On :
                    </td>
                    <td>
                      {{deviceinfo.created_at}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <p style="text-align:center">
                <b>Driver Information</b>
              </p>
              <p *ngIf="deviceinfo.driver_id.length>0" style="text-align: center">
                <b>Assigned Drivers</b>
              </p>
              <p *ngIf="deviceinfo.driver_id.length==0">No Drivers Assigned</p>
              <table class="table table-bordered" *ngIf="deviceinfo.driver_id.length>0">
                <thead>
                  <tr>
                    <th>Driver Name & Id :</th>
                    <th>Driver Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let driver of deviceinfo.driver_id">
                    <td>
                      {{driver.name}} {{driver.surname}},({{driver.emp_id}})
                    </td>
                    <td>
                      {{driver.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="shiftinfo.length===0">No shift history.</p>
              <p *ngIf="shiftinfo.length>0" style="text-align: center;">
                <b>Shift history</b>
              </p>
              <table class="table table-bordered" *ngIf="shiftinfo.length>0">
                <thead>
                  <tr>
                    <th>Driver Name & Id :</th>
                    <th>Last login time </th>
                    <th>Last logout time </th>
                    <th>vehicle Name</th>
                    <th>Driver Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let shift of shiftinfo">
                    <td>
                      {{shift.driver_id.name}} {{shift.driver_id.surname}},({{shift.driver_id.emp_id}})
                    </td>
                    <td>
                      {{shift.shift_start}}
                    </td>
                    <td>
                      {{shift.shift_end!==null ? shift.shift_end : "ongoing shift"}}
                    </td>
                    <td>
                      {{shift.vehicle_id.display_name}}
                    </td>
                    <td>
                      {{shift.driver_id.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModel2" class="modal fade" role="dialog">
    <img *ngIf="loadingIndicator == 'modalLoader'"
      style="position: absolute; left: 43%; top: 50%; height: 135px; border: 0px; z-index: 999999;"
      src="assets/img/loader.gif" />
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vehicle Maintenance Information</h4>
        </div>
        <div class="modal-body">
          <div class="fm-row row">
            <div class="col-sm-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Activity</th>
                    <th>User</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let info of maintenanceInfo">
                    <td>{{info?.date | date: 'short' : 'GMT'}}</td>
                    <td>
                      {{info.changed_status=='VA'?'Vehicle moved to accident':info.changed_status=='VM'?'Vehicle moved to maintenance':info.changed_status=='VAC'?'Vehicle moved to active':info.changed_status=='VD'?'Vehicle moved to disposed':''}}
                    </td>
                    <td>
                      {{info.user_id?info.user_id.firstname + ' ' + info.user_id.lastname:''}}
                    </td>
                    <td>
                      {{info.note?info.note:''}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="container-fluid" *ngIf="maintenanceInfoLength==0">
                <div class="row">
                  <div class="dataTables_info1">
                    <div class="col-md-12 form-group text-center">
                      No records found
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid" *ngIf="maintenanceInfo.length>0">
                <div class="row">
                  <div class="dataTables_info1">
                    <div class="col-md-12 text-center">
                      <ngb-pagination [collectionSize]="maintenanceInfoLength" (pageChange)="maintenancePaging($event)"
                        [(page)]="pNoM" [pageSize]="10" aria-label="Default pagination" [maxSize]="5"
                        [boundaryLinks]="true">
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fm txt Ends -->
</div>