.cmr_notfication{
  position: relative;
}
.close_btn{
  position: absolute;
  right: 0px;
  top: -5px;
  background: none;
}
.notification_input{
    border-radius: 0px !important;
    font-size: 11px;
    height: 50px;
    padding: 15px;
}
.custom-position{ position: relative;}

.custom-position i{ 
  position: absolute;
  top: 16px;
  right: 20px;
}
.btn_left{
  width: 48%;
  font-weight: 700;
  float: left;
}
.btn_right{
  width: 48%;
  font-weight: 700;
  background-color: red;
  float: right;
}