@font-face {
    font-family: 'Nexa';
    src: url('../../assets/fonts/NexaLight.woff2') format('woff2'),
        url('../../assets/fonts/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Nexa';
    src: url('../../assets/fonts/NexaBold.woff2') format('woff2'),
        url('../../assets/fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'Nexa' !important;
    font-weight: 300;
    font-style: normal;
}