<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Profile</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink] = "['/admin']">Home</a>
      </li>
      <li class="active">
        <strong>Profile</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


  <div class="row m-b-lg m-t-lg">
    <div class="col-md-6">

      <div class="profile-image">
        <img src="assets/img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
      </div>
      <div class="profile-info">
        <div class="">
          <div  *ngIf="userData">
            <h2 class="no-margins">
              {{ userData.firstname }} {{ userData.lastname}}
            </h2>
            <h4> {{ userData.email }}</h4>
           <h4></h4>
          </div>
        </div>
      </div>
    </div>
  <!--</div>
  <div class="row m-b-lg m-t-lg">
    <div class="form-group">
      <div class="col-md-12">
        <img *ngIf="imageUrl" class="driver-image" [src]="imageUrl" />
        <image-upload [extensions]="['jpeg','jpg','png']" [buttonCaption]="'Select Image'" [max]="1" [maxFileSize]="1048576" (removed)="onRemoved($event)"
          (uploadFinished)="imageFinishedUploading($event)" (uploadStateChanged)="onUploadStateChanged($event)" id="img">
        </image-upload>
        <span *ngIf="spandata=='yes'" class="image-format clearimage">
          Remove old image before new upload.
        </span>
        <span class="image-format">
          Only jpeg, jpg, png formats are allowed.
        </span>
      </div>
      <div class="col-md-2" style="padding-left:40px">
        <br/><button class="btn btn-primary" (click)="updateUser()">Upload</button>
      </div>
    </div>-->
    <!--<div class="col-md-3">-->
      <!--<table class="table small m-b-xs">-->
        <!--<tbody>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<strong>142</strong> Projects-->
          <!--</td>-->
          <!--<td>-->
            <!--<strong>22</strong> Followers-->
          <!--</td>-->

        <!--</tr>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<strong>61</strong> Comments-->
          <!--</td>-->
          <!--<td>-->
            <!--<strong>54</strong> Articles-->
          <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<strong>154</strong> Tags-->
          <!--</td>-->
          <!--<td>-->
            <!--<strong>32</strong> Friends-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
      <!--<small>Sales in last 24h</small>-->
      <!--<h2 class="no-margins">206 480</h2>-->
      <!--<div id="sparkline1"></div>-->
    <!--</div>-->
  </div>
</div>

