.expanded-row {
    margin-left: 12px;
}

.tbl {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

tr {
    cursor: pointer;
}

.table-responsive {
    height: 300px;
    overflow-x: scroll;
}

.btn2 {
    background-color: #211d46;
    color: #FFF;
    height: 18px;
    border: none !important;
    width: 18px;
}

.border {
    border: 1px solid#e7eaec;
    padding-top: 5px;
    padding-bottom: 5px;
}

.heading {
    background-color: #DDDD;
    color: #211d46;
    border-bottom: 2px solid #211d46;
}

.expanded-row .border {
    background-color: #F1F1F1;
}

.small-heading {
    background-color: lavender !important;
}