<h2>
  Shift Details <b>[{{username}}]</b>
</h2>
<div>
  <!-- <div *ngIf="shiftLength>0">Total records :{{shiftLength}}</div> -->
  <div class="row heading">
    <div class="col-sm-6 border"><b>Shift start time</b></div>
    <div class="col-sm-6 border"><b>Shift end time</b></div>
  </div>

  <span *ngIf="searchLoader">
    <img src="assets/img/loader.gif" class="loader-img" />
  </span>
  <div class="tbl">
    <div *ngFor="let shift of shiftData; let i = index" [attr.data-index]="i">
      <div class="row">
        <div class="col-sm-6 border">
          <span *ngIf="shift.shift_start">
            <button type="button" class="btn2" (click)="shift.expanded=true" *ngIf="!shift.expanded">+</button>
            <button type="button" class="btn2" (click)="shift.expanded=false" *ngIf="shift.expanded">-</button>
          </span> {{shift.shift_start}}
        </div>
        <div class="col-sm-6 border">{{shift.shift_end}} &nbsp;</div>
      </div>
      <div *ngIf="shift.expanded" class="expanded-row">
        <div class="row small-heading">
          <div class="col-sm-6 border"><b><small>Login time</small></b></div>
          <div class="col-sm-6 border"><b><small>Logout time</small></b></div>
        </div>
        <div class="row" *ngFor="let shiftLog of shift.shiftLogs;">
          <div class="col-sm-6 border">{{shiftLog.start_time}}</div>
          <div class="col-sm-6 border">{{shiftLog.end_time}} &nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Shift start time</th>
          <th>Shift end time</th>
        </tr>
      </thead>
      <tbody>
        <span *ngIf="searchLoader">
          <img src="assets/img/loader.gif" class="loader-img" />
        </span>
        <tr *ngFor="let shift of shiftData; let i = index" [attr.data-index]="i">
          <td [ngClass]="{'expanded-row':shift.start_time}">
            <span *ngIf="shift.shift_start">
              <button type="button" class="btn2" (click)="expandRow(shift,i)" *ngIf="!shift.expanded">+</button>
              <button type="button" class="btn2" (click)="expandRow(shift,i)" *ngIf="shift.expanded">-</button>
            </span>
            {{shift.shift_start?shift.shift_start:shift.start_time}}
          </td>
          <td [ngClass]="{'expanded-row':shift.start_time}">{{shift.shift_end?shift.shift_end:shift.end_time}}</td>
          <table>
            <th>Login time</th>
            <th>Logout time</th>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </tr>
      </tbody>
    </table>
  </div> -->
  <!-- <div style="text-align:center; margin-left:125px;" *ngIf="DriverLength==0">
    No records found
  </div> -->
  <div class="container-fluid" *ngIf="shiftLength > 0">
    <div class="row col-md-12 text-center">
      <div class="dataTables_info1">
        <div>
          <ngb-pagination [collectionSize]="shiftLength" (pageChange)="pagingAgent($event)" [(page)]="pNo"
            [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="shiftLength==0">
    <div class="row">
      <div class="dataTables_info1">
        <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
          No records found.
        </div>
      </div>
    </div>
  </div>
</div>