<div class="msg-pop orderinfo">
  <div>
    <h3>Promo Applicable for customer {{PromoAddData.firstname}}</h3>
  </div>
</div>
<div>
  <div class="pop--inner">
    <form [formGroup]="editForm" (ngSubmit)="updatePromoForCustomer();" class="form-horizontal">
      <div class="row div-scroll">
        <div class="col-sm-12">
          <mat-chip-list #chipList2 aria-orientation="vertical">
            <mat-chip *ngFor="let promoData of promoFilter;" [selectable]="selectable" [removable]="removable"
              (removed)="removePromo(promoData)" style="font-size:10px;">
              {{promoData.promo_code}}
              <mat-icon matChipRemove class="fa fa-times-circle"></mat-icon>
            </mat-chip>
            <br />
            <input class="form-control" [formControl]="driverCtrl" placeholder="Select Promo"
              [matChipInputFor]="chipList2" [matAutocomplete]="auto3">
          </mat-chip-list>
          <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFnDriverId"
            (optionSelected)="promoIdselected($event)">
            <mat-option *ngFor="let promo of PromosData" [value]="promo">
              {{promo.promo_code}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="pop-btn text-right">
        <button class="btn btn-sm btn-primary blue" type="submit">Save</button>
        <button class="btn btn-sm btn-primary red" type="button" (click)="closePop()">Cancel</button>
      </div>
    </form>
  </div>
</div>