.disabled2{
    cursor: no-drop;
    pointer-events: none;
}
#multi .chip-holder{
    margin-top: 0;
    border-radius: 5px 0px 0px 5px;
}
#multi input{
    border-radius: 5px !important;
}
.pl-10{
    padding-left: 10px;
}
.flex{
    display:flex
}
.driver-detail:hover{
    cursor: pointer;
    background-color: #211D46;
    color: #FFF;
}