<div class="col-lg-12 animated fadeInRight list-payment-extra">
  <div class="input-group">
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <div class="row">
              <div class="col-sm-12">
                <h3>
                  <b>User list</b>
                </h3>
              </div>
            </div>
            <div class="fm-row">
              <div class="row">
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-sm btn-primary blue"
                    [routerLink]="['/admin/role-management/addnew-user']">
                    <i class="fa fa-plus"></i> Add new user</button>
                </div>

                <div class="col-sm-3 col-md-3 text-center" *ngIf="disabledCompany">
                  <mat-select [(ngModel)]="company_id_list" (change)="setCompanyList($event);" placeholder="Company"
                    class="form-control" multiple>
                    <mat-option *ngFor="let company of companyData" [value]="company._id">{{company.company_name}}
                    </mat-option>
                  </mat-select>
                </div>

              </div>
            </div>
            <div class="ibox-content">
              <div class="table-responsive custom-table">
                <table class="table table-striped table-bordered table-responsive zoom">
                  <thead>
                    <tr>
                      <th>
                        Email
                      </th>
                      <th>
                        First Name
                      </th>
                      <th>
                        Last Name
                      </th>
                      <th>
                        Role
                      </th>
                      <th>
                        Phone
                      </th>
                      <th>
                        Priority
                      </th>
                      <th>
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let acl of aclList">
                      <ng-container *ngIf="!acl.is_deleted">
                        <td>
                          {{acl.email}}
                        </td>
                        <td>
                          {{acl.firstname}}
                        </td>
                        <td>
                          {{acl.lastname}}
                        </td>
                        <td>
                          <ng-container *ngIf="acl.role">
                            {{acl.role.role}}
                          </ng-container>
                        </td>
                        <td>
                          {{acl.phone_number}}
                        </td>
                        <td>
                          {{acl.priority?acl.priority:"Not set"}}
                        </td>
                        <td>
                          <button type="submit" class="btn btn-sm btn-primary blue"
                            [routerLink]="['/admin/role-management/edit-user', acl._id]">Edit</button>
                          <button type="submit" class="btn btn-sm btn-primary green"
                            [routerLink]="['/admin/role-management/change-password', acl._id]">Update
                            Password</button>
                          <ng-container *ngIf="disabledDelete">
                            <button type="submit" class="btn btn-sm btn-primary red"
                              (click)="openDialog(acl._id)">Delete</button>
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                  <!--<br>
                   <div class="container-fluid" *ngIf="usersLength > 0">
                    <div class="row col-md-12 text-center">
                      <div class="dataTables_info1">
                        <ngb-pagination [collectionSize]="usersLength" (pageChange)="pagingAgent($event)" [page]="1"
                          [pageSize]="itemsPerPage" aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

                      </div>
                    </div>
                  </div>
                  <div class="container-fluid" *ngIf="usersLength==0">
                    <div class="row">
                      <div class="dataTables_info1">
                        <div class="col-md-12 text-center form-group">
                          No records found
                        </div>
                      </div>
                    </div>
                  </div> -->
                </table>

                <br>
                <!-- commented for AOT
                <div class="container-fluid" *ngIf="paymentLength > 0">
                  <div class="row col-md-12 text-center">
                    <div class="dataTables_info1">
                      <ngb-pagination [collectionSize]="paymentLength" (pageChange)="pagingAgent($event)" [page]="1"
                        [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                  </div>
                </div>
                <div class="container-fluid" *ngIf="paymentLength==0">
                  <div class="row">
                    <div class="dataTables_info1">
                      <div class="col-md-12 text-center form-group">
                        No records found
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>