@font-face {
    font-family: 'Nexa';
    src: url('../../../assets/fonts/NexaLight.woff2') format('woff2'),
        url('../../../assets/fonts/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Nexa';
    src: url('../../../assets/fonts/NexaBold.woff2') format('woff2'),
        url('../../../assets/fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.sidenav{
    font-family: 'Nexa' !important;
    font-weight: 300;
    font-style: normal;
}

.navi
{
   position: fixed;
   display: -webkit-box;
   width: 100%;
   z-index: 1;
   background-color: #0000;
   
}
.navitems
{
    padding: 20px;
    background: linear-gradient(to bottom left, #1a1a1a,#232323);
    width: 14.28%;
    text-align: center;
}
.navitems b
{
    font-size: 15px;
    color: #ffff;
}
/*Topnav*/
/*sidenav*/



.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: -1;
    /*top: 70px;*/
    left: 0;
    background-color: #3d3d3d;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
}

.sidenav a {
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    font-weight: 700;
}
.sidenav ul li{
   
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    font-weight: 700;
    border-bottom-left-radius: 25px;
 border-top-left-radius: 25px;
}
.active
{
    background-color: #323232;
}
.sidenav a:hover {
    color: #f1f1f1;
}
