<div class="sidenav">
  <ul style="margin: 0px;padding-left: 10px;">
    <!-- <li><a [routerLink]="['/driver']"><img src="assets/imgs/homeside.png"> Home</a></li>
    <li> <a [routerLink]="['/driver/profile']"><img src="assets/imgs/profile.png"> Profile</a></li> -->
    <li class="active"><a [routerLink]="['/driver/trip']"><img src="assets/imgs/car.png"> Trip History</a></li>
  </ul>
</div>
