<div class="msg-pop">
  <div>
    <h3>Edit Driver Group</h3>
  </div>
</div>
<div class="pop--inner">
  <div class="ibox-content ibox-content2">
    <div class="row btm-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <mat-select placeholder="Driver Groups" class="form-control" [(ngModel)]="driver_groups" [compareWith]="compareWithFunc"
            multiple>
            <mat-option *ngFor="let group of driverGroupData" [value]="group._id">{{ group.name }}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button class="btn btn-sm btn-primary blue" type="submit" (click)="updateDriver()">Save</button>
        <button class="btn btn-sm btn-primary red" type="button" (click)="closePop()">Cancel</button>
      </div>
    </div>

  </div>
</div>