.fm-row{margin-bottom: 10px;}
.sorted-color{
  color:#eee;
}
table th span i.fa-sort-asc,table th span i.fa-sort-desc{float: right; margin: 3px -5.3px 0 -5.3px;}
.custom-table table th{overflow: hidden; min-width: 100px; border:none;}


.ibox-content thead {border-bottom: 10px solid #211d46;}
.ibox-content tbody tr {border-bottom: 10px solid #211d46;}

.loading_indicator {
  height: 15px !important;
  width: 15px !important;
  text-align: center;
  position: relative;
  top: -24px;
  z-index: 999999;
  float: right !important;
  right: 12px;
}
.kiosk_user_btn{
  padding: 2px;
  color: #fff;
  background-color: #bd0913;
  border: none;
  border-radius: 4px;
  margin-top: .5rem;
}