.navbar-fixed-top, .navbar-static-top {
    background: #211d46;
}
.minimalize-styl-2 {
    padding: 6px 4px;
    margin: 6px 5px 5px 40px;
    float: left;
}
.navbar-header{
    display: inline-flex;
}
.navbar-header a{
    color: #fff;
    font-size: 25px;
}
.navbar-header .logo{
    margin-top: 11px;
    margin-left: 6px;
}
.navbar-header .logo img{
   height: 20px;
}
.navbar-top-links li a {
    padding: 0px 0px;
    min-height: 0px;
}
.ibox-content th { background: #dddddd;color:#000 !important;font-size: 12px !important;}