<div class="msg-pop">
  <div>
    <h3>Shift Details</h3>
  </div>
  <span matTooltip="CSV">
    <img src="assets/img/csv.png" (click)="createCsv()"/>
</span>
</div>
<div>
  <div class="pop--inner">
    <div class="ibox-content">
      <div>
        <table *ngIf="ShiftData" align="center" >
          <thead>
            <tr></tr>
            <tr></tr>
          </thead>
          <tbody>
            <td>
              <table class="table table-bordered">
                <tr>
                  <th>Driver Name</th>
                  <td>{{ShiftData.driver_id.username}} </td>
                </tr>
                <tr>
                  <th>Vehicle Name</th>
                  <td>{{ShiftData.vehicle_id.display_name}} </td>
                </tr>
                <tr>
                  <th>Vehicle Id</th>
                  <td>{{ShiftData.vehicle_id.vehicle_unique_id}} </td>
                </tr>
                <tr>
                  <th>Device Name</th>
                  <td>{{ShiftData.device_id.device_model}} </td>
                </tr>
                <tr>
                  <th>Device Id</th>
                  <td>{{ShiftData.device_id.unique_device_id}} </td>
                </tr>
                <tr>
                  <th>Company:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.company?ShiftData.shift_details_id.company:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Occupied time:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.occupied_time?ShiftData.shift_details_id.occupied_time:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Free time:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.free_time?ShiftData.shift_details_id.free_time:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>First start :</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.first_start?ShiftData.shift_details_id.first_start:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Last stop :</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.last_stop?ShiftData.shift_details_id.last_stop:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Orders distance:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.orders_distance?ShiftData.shift_details_id.orders_distance:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Total distance:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.total_distance?ShiftData.shift_details_id.total_distance:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Driver formated:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.driver_formated?ShiftData.shift_details_id.driver_formated:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Drive:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.drive?ShiftData.shift_details_id.drive:'N/A':'N/A'}}
                  </td>
                </tr>
                <tr>
                    <th>Bill not printed count:</th>
                    <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.bill_not_printed_count?ShiftData.shift_details_id.bill_not_printed_count:'N/A':'N/A'}}
                      </td>
                  </tr>
                 
              </table>
            </td>
            <td>
              <table class="table table-bordered">
                  <tr>
                      <th>No payment:</th>
                      <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.no_payment?ShiftData.shift_details_id.no_payment:'N/A':'N/A'}}
                        </td>
                    </tr>
                <tr>
                  <th>Free rides:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.free_rides?ShiftData.shift_details_id.free_rides:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Status :</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.status?ShiftData.shift_details_id.status:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.total?ShiftData.shift_details_id.total:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Payed:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.payed?ShiftData.shift_details_id.payed:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>To pay:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.to_pay?ShiftData.shift_details_id.to_pay:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Shift duration:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.shift_duration?ShiftData.shift_details_id.shift_duration:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Trip full paid by credit:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.trip_full_paid_by_credit?ShiftData.shift_details_id.trip_full_paid_by_credit:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Trip partially paid by credit :</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.trip_partially_paid_by_credit?ShiftData.shift_details_id.trip_partially_paid_by_credit:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Credit total:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.credit_total?ShiftData.shift_details_id.credit_total:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Cash trip total:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.cash_trip_total?ShiftData.shift_details_id.cash_trip_total:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Credit:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.credit?ShiftData.shift_details_id.credit:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Bill printed :</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.bill_printed?ShiftData.shift_details_id.bill_printed:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Bill printed count :</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.bill_printed_count?ShiftData.shift_details_id.bill_printed_count:'N/A':'N/A'}}
                    </td>
                </tr>
                <tr>
                  <th>Bill not printed:</th>
                  <td>{{ShiftData.shift_details_id!=null?ShiftData.shift_details_id.bill_not_printed?ShiftData.shift_details_id.bill_not_printed:'N/A':'N/A'}}
                    </td>
                </tr>
               
              </table>
            </td>
            <!-- </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid" *ngIf="!ShiftData">
      <div class="row">
        <div class="dataTables_info1">
          <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
            No records found
          </div>
        </div>
      </div>
    </div>

    <div class="pop-btn text-right">
      <input class="btn btn-sm btn-primary red" value="Close" type="button" (click)="closePop()">
    </div>
  </div>