<div class="row  border-bottom white-bg dashboard-header">

  <div class="col-md-12">
    <h2>Fleet Management</h2>
  </div>
</div>
<!-- <div *ngFor='let acl of aclCheck'> -->
<div class="gallery">
  <a [routerLink]="['/admin/fleet/list-driver-stats']">
    <img class="icon-img" src="assets/img/group.png" alt="MyTaxi">
    <div class="desc">
      <b> Driver Stats</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/fleet/driver-availability']">
    <img class="icon-img" src="assets/img/group.png" alt="MyTaxi">

    <div class="desc">
      <b>Driver Availability</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/fleet/driver-acceptance']">
    <img class="icon-img" src="assets/img/group.png" alt="MyTaxi">
    <div class="desc">
      <b>Driver Acceptance</b>
    </div>
  </a>
</div>