.ibox-content tbody tr {border-bottom: 10px solid #211d46;}

.payment-cal-table table{
  display: inline;
  margin-right: 10px;
  padding: 10px;

}
.payment-cal-table {

  background-color: #dddddd;
  color: #000;
  padding: 20px;
}
.payment-cal-outer {
  padding: 15px 20px 20px 20px;
}

.sum_table_headers {
  color: #211d46;
  font-weight: bold
}
.sum_table td {
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  vertical-align: bottom;
  padding-right: 8px;
}
tr.total > td {
  border-top: 1px solid #211d46;
}
.ng-star-inserted .btn-primary{width: 59px !important;
  text-align: center;
  padding: 5px 0;}
  html {
    scroll-behavior: smooth;
  }
.form-control { border-radius: 10px; font-size: 11px; height:30px;}

.loading_indicator {
  height: 15px !important;
  width: 15px !important;
  text-align: center;
  position: relative;
  top: -24px;
  z-index: 999999;
  float: right !important;
  right: 12px;
}
.btn2{
  background-color: #211d46;
  color:#FFF;
  height:18px;
  border: none !important;
  width: 18px;
}
.expandedrowsbg{
  background-color: #919191;
  border-left: 1px solid #FF0000;
}