<!DOCTYPE html>
<div class="col-lg-12 animated fadeInRight">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h3>
              <b>Manage Shifts</b>
            </h3>
            <br />
            <div class="fm-row row">
              <div class="col-md-12">
                <div class="col-xs-3 autocomplete-field-container">
                  <input matInput placeholder="Select Shift Id" class="form-control" name="shift_id"
                    (ngModelChange)="searchShiftForId($event)" [(ngModel)]="shift_id" aria-label="shift"
                    [matAutocomplete]="shift">
                  <img *ngIf="loadingIndicator == 'searchShiftForId'" class="loading_indicator"
                    src="assets/img/loading.gif" />
                  <mat-autocomplete #shift="matAutocomplete" [displayWith]="displayFnShift">
                    <mat-option *ngFor="let shift of ShiftIDData" [value]="shift">
                      <span>{{shift.unique_shift_id}}
                      </span>
                    </mat-option>
                    <mat-option *ngIf="ShiftIDData == '' && ShiftIDData.length == 0">No Matches Found</mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-xs-3 custom-position">
                  <input name="shift_start" [(ngModel)]="selectedMoment" (click)="checkShiftstartTime()"
                    class="form-control" [max]="max" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1"
                    placeholder="Shift Start Date">
                  <span>
                    <i class="fa fa-calender" (click)="checkShiftstartTime()"></i>
                  </span>
                  <i class="fa fa-calendar" style="font-size: 20px;float: right;" [owlDateTimeTrigger]="dtPicker1"
                    (click)="checkShiftstartTime()"></i>
                  <owl-date-time #dtPicker1></owl-date-time>
                </div>
                <div class="col-xs-3 custom-position">
                  <input [(ngModel)]="selectedMoment1" name="shift_end" [min]="selectedMoment" [max]="max2"
                    [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2" placeholder="Shift End Date"
                    class="form-control">
                  <i class="fa fa-calendar" style="font-size: 20px;float: right;" [owlDateTimeTrigger]="dtPicker2"
                    (click)="checkShiftstartTime1()"></i>
                  <owl-date-time #dtPicker2></owl-date-time>
                </div>
                <div class="col-xs-3">
                  <select [(ngModel)]="approve_status" name="approve_status" class="form-control" placeholder="status">
                    <option Value=""> Shift status</option>
                    <option Value="1"> Closed </option>
                    <option Value="2"> Open </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="fm-row row">
              <div class="col-md-12">
                <div class="col-xs-3">
                  <select [(ngModel)]="empty_status" name="empty_status" class="form-control">
                    <option Value="">Shift type</option>
                    <option Value="0"> Empty </option>
                    <option Value="1"> Not Empty </option>
                  </select>
                </div>
                <div class="col-sm-3 autocomplete-field-container">
                  <input [(ngModel)]="driverIdForm" matInput [formControl]="driver_Id" placeholder="Employee id"
                    class="form-control" name="driveruniqueid" (ngModelChange)="searchDriverId($event)"
                    [matAutocomplete]="uniqueDid">
                  <img *ngIf="loadingIndicator == 'searchDriverId'" class="loading_indicator"
                    src="assets/img/loading.gif" />
                  <mat-autocomplete #uniqueDid="matAutocomplete" [displayWith]="displayFnDriverId">
                    <mat-option *ngFor="let driverID of driverIdData" [value]="driverID">
                      <div class="option-otr">
                        <span>{{ driverID.emp_id}}</span>
                      </div>
                    </mat-option>
                    <mat-option *ngIf="driverIdData == '' && driverIdData.length == 0">No Matches Found</mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-xs-3">
                  <!--<input matInput placeholder="Select Device" class="form-control" name="device_id" (ngModelChange)="searchDevice($event)"
                      [(ngModel)]="device_id" aria-label="device" [matAutocomplete]="device">
                    <mat-autocomplete #device="matAutocomplete" [displayWith]="displayFnDevice">
                      <mat-option *ngFor="let device of deviceData" [value]="device">
                        <div class="option-otr">
                          <div class="option_span">{{device.unique_device_id}}</div>
                          <div class="option_span"> {{device.device_model}}</div>
                        </div>
                      </mat-option>
                    </mat-autocomplete>-->
                  <input [(ngModel)]="deviceForm" [formControl]="device" type="text" placeholder="Select device"
                    [matAutocomplete]="devices" class="form-control"
                    (ngModelChange)="searchDevice($event)">
                  <img *ngIf="loadingIndicator == 'searchDevice'" class="loading_indicator"
                    src="assets/img/loading.gif" />
                  <mat-autocomplete #devices="matAutocomplete" [displayWith]="displayFnDevice">
                    <mat-option *ngFor="let device of deviceData" [value]="device">
                      <div class="option-otr">
                        <div class="option_span">{{device.unique_device_id}}</div>
                        <div class="option_span"> {{device.device_model}}</div>
                      </div>
                    </mat-option>
                    <mat-option *ngIf="deviceData == '' && deviceData.length == 0">No Matches Found</mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-xs-3 autocomplete-field-container">
                  <input [(ngModel)]="sideForm" matInput [formControl]="vehicle_side_no" placeholder="Select Vehicle No"
                    class="form-control" name="vehichle_side_no" (ngModelChange)="searchVehichleSidenumber($event)"
                    aria-label="vehichleSide" [matAutocomplete]="vehichleSide">
                  <img *ngIf="loadingIndicator == 'searchVehichleSidenumber'" class="loading_indicator"
                    src="assets/img/loading.gif" />
                  <mat-autocomplete #vehichleSide="matAutocomplete" [displayWith]="displayFnVehichleSide">
                    <mat-option *ngFor="let vehichle1 of vehichleSideData" [value]="vehichle1">
                      <span>{{ vehichle1.vehicle_identity_number}}</span>
                    </mat-option>
                    <mat-option *ngIf="vehichleSideData == '' && vehichleSideData.length == 0">No Matches Found
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>
            <!--<div class="fm-row row">
                <div class="col-md-12">
                  <div class="col-xs-3">
                    <select [(ngModel)]="empty_status" name="empty_status" class="form-control">
                      <option Value="">Shift type</option>
                      <option Value="0"> Empty </option>
                      <option Value="1"> Not Empty </option>
                    </select>
                  </div>-->

            <!--</div>
              </div>-->
            <!-- Extra Added -->
            <div class="fm-row row">
              <div class="col-md-12">
                <div class="col-sm-3 autocomplete-field-container">
                  <input [(ngModel)]="plateForm" matInput [formControl]="vehicle_plate_no"
                    placeholder="Select Plate Number" class="form-control" name="vehichle_plate_no"
                    (ngModelChange)="searchVehichlePlateNumber($event)" aria-label="VehichlePlate"
                    [matAutocomplete]="vehichlePlate">
                  <img *ngIf="loadingIndicator == 'searchVehichlePlateNumber'" class="loading_indicator"
                    src="assets/img/loading.gif" />
                  <mat-autocomplete #vehichlePlate="matAutocomplete" [displayWith]="displayFnVehichlePlate">
                    <mat-option *ngFor="let vehichle2 of vehichlePlateData" [value]="vehichle2">
                      <div class="option-otr">
                        <span>{{ vehichle2.plate_number}}</span>
                      </div>
                    </mat-option>
                    <mat-option *ngIf="vehichlePlateData == '' && vehichlePlateData.length == 0">No Matches Found
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-xs-4">
                  <input [(ngModel)]="driverForm" [formControl]="queryField" type="text" placeholder="search for driver"
                    [matAutocomplete]="driver" class="form-control"
                    (ngModelChange)="searchDrivers($event)">
                  <img *ngIf="loadingIndicator == 'searchDrivers'" class="loading_indicator"
                    src="assets/img/loading.gif" />
                  <mat-autocomplete #driver="matAutocomplete" [displayWith]="displayFnDriver">
                    <mat-option *ngFor="let driver of DriverData" [value]="driver">
                      <span class="img-otr">
                        <img style="vertical-align:middle;" aria-hidden
                          src="{{driver.profile_picture ? apiUrl + driver.profile_picture+imageext : '../../assets/img/noimage.jpg'}}"
                          height="25" />
                      </span>
                      <div class="option-otr">
                        <div class="option_span">Username:
                          <b>{{ driver.username }}</b>
                        </div>
                        <div class="option_span">Name and Surname:
                          <b>{{ driver.name }} &nbsp;{{ driver.surname }}</b>
                        </div>
                        <div class="option_span">Display Name:
                          <b>{{ driver.display_name }}</b>
                        </div>
                      </div>
                    </mat-option>
                    <mat-option *ngIf="DriverData == '' && DriverData.length == 0">No Matches Found</mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-sm-2">
                  <select [(ngModel)]='pageSize' name='pageSize' class="form-control">
                    <option value="10">10 records</option>
                    <option value="20">20 records</option>
                    <option value="40">30 records</option>
                    <option value="50">50 records</option>
                  </select>
                </div>
                <div class="col-sm-3" *ngIf="dtc">
                  <mat-select [(ngModel)]="companyIdFilter" placeholder="Company" (change)="changeCompany()"
                    class="form-control" multiple>
                    <mat-option value="all" (click)="selectAllCompany()">All</mat-option>
                    <mat-option (click)="companyManualSelect()" *ngFor="let company of companyData" [value]="company._id">
                      {{company.company_name}}
                    </mat-option>
                  </mat-select>
                </div>
                <!--
                  <div class="col-sm-3">
                    <input matInput placeholder="Select Driver" class="form-control" name="driver_id" (ngModelChange)="searchDrivers($event)"
                      [(ngModel)]="driver_id" aria-label="Driver" [matAutocomplete]="driver">
                    <mat-autocomplete #driver="matAutocomplete" [displayWith]="displayFnDriver">
                      <mat-option *ngFor="let driver of DriverData" [value]="driver">
                        <span class="img-otr">
                          <img style="vertical-align:middle;" aria-hidden src="{{driver.profile_picture ? imageurl + '/uploads/drivers/' + driver.profile_picture : '../../assets/img/noimage.jpg'}}"
                            height="25" />
                        </span>
                        <div class="option-otr">
                          <div class="option_span">Username:
                            <b>{{ driver.username }}</b>
                          </div>
                          <div class="option_span">Name and Surname:
                            <b>{{ driver.name }} &nbsp;{{ driver.surname }}</b>
                          </div>
                          <div class="option_span">Display Name:
                            <b>{{ driver.display_name }}</b>
                          </div>
                        </div>
                      </mat-option>
                    </mat-autocomplete>
                  </div>
                </div> -->
              </div>
              <div class="fm-row row">
                <div class="col-md-12">
                  <div class="col-md-7">
                    <div *ngIf="creatingcsv">
                      <progress-bar [progress]="progressvalue" [color]="'#211d46'">
                      </progress-bar>
                    </div>
                  </div>
                  <div class="col-md-5 text-right" style="cursor: pointer">
                    <!--
				          <span matTooltip="PDF">
                    <img src="assets/img/pdf.png" (click)="generateOtherPDF()" />
                  </span>-->
                    <ng-container *ngIf="downloads">
                      <span matTooltip="Shifts CSV">
                        <img src="assets/img/csv.png" (click)="getconstantsforcsv()" />
                      </span>
                    </ng-container>
                    <!-- <span matTooltip="Shifts Distance CSV">
                    <img src="assets/img/csv.png" (click)="ShiftsDistanceCsv()" />
                  </span> -->
                    <button type="get" (click)="searchShifts();" class="btn btn-sm btn-primary blue">
                      <i class="fa fa-search"></i>
                      Search
                    </button>
                    <button type="get" (click)="refetchShifts();" class="btn btn-sm btn-primary green">
                      <i class="fa fa-refresh"></i>
                      Refresh
                    </button>
                    <button type="get" (click)="reset();" class="btn btn-sm red">
                      <i class="fa fa-eraser"></i>
                      Reset filters
                    </button>
                  </div>
                </div>
              </div>
              <div id="google"></div>
              <div class="ibox-content" *ngIf="pageNo==0">
                  showing records {{pageNo+1}}-{{(pageNo+1)*pageSize}}/{{allShiftsLength}}
              </div>
              <div class="ibox-content" *ngIf="pageNo!==0">
                  showing records {{pageNo}}-{{((pageNo/pageSize+1)*pageSize)}}/{{allShiftsLength}}
              </div>
              <div class="payment-cal-outer" *ngIf="allShiftsLength > 0">
                <div class="payment-cal-table table-responsive">
                  <div style="float:right;border-left:1px dotted #fff;padding: 0 20px;">
                    <table class="sum_table">
                      <span *ngIf="searchLoader">
                        <img src="assets/img/loader.gif" class="loader-img" />
                      </span>
                      <tbody>
                        <tr>
                          <td class="sum_table_headers"></td>
                          <td class="sum_table_headers">Count</td>
                          <td class="sum_table_headers">Amount</td>
                        </tr>
                        <tr>
                          <td class="sum_table_headers">Total</td>
                          <td>{{ shift_detail_data.total_bill_count?shift_detail_data.total_bill_count:'0' }}</td>
                          <td>{{ shift_detail_data.total_amount?shift_detail_data.total_amount:'0' }}</td>
                        </tr>
                        <tr class="total">
                          <td class="sum_table_headers">Bill printed</td>
                          <td>{{shift_detail_data.bill_printed_count?shift_detail_data.bill_printed_count:'0'}}</td>
                          <td>{{shift_detail_data.bill_printed?shift_detail_data.bill_printed:'0'}}</td>
                        </tr>
                        <tr>
                          <td class="sum_table_headers">Bill not printed</td>
                          <td>{{shift_detail_data.bill_notprinted_count?shift_detail_data.bill_notprinted_count:'0'}}
                          </td>
                          <td>{{shift_detail_data.bill_notprinted?shift_detail_data.bill_notprinted:'0'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <table>
                    <tbody>
                      <tr>
                        <td class="sum_table_headers" colspan="2">By payment type</td>
                      </tr>
                      <tr>
                        <td>Credit</td>
                        <td style="text-align:right">
                          {{shift_detail_data.credit_trip_total?shift_detail_data.credit_trip_total:'0'}}</td>
                      </tr>
                      <tr>
                        <td>Cash</td>
                        <td style="text-align:right">
                          {{shift_detail_data.cash_trip_total?shift_detail_data.cash_trip_total:'0'}}</td>
                      </tr>
                      <tr>
                        <td>Account</td>
                        <td style="text-align:right">
                          {{shift_detail_data.account_total?shift_detail_data.account_total:'0'}}</td>
                      </tr>
                      <tr>
                        <td>Online</td>
                        <td style="text-align:right">
                          {{shift_detail_data.card_total?shift_detail_data.card_total:'0'}}</td>
                      </tr>
                      <tr>
                        <td>
                          <br>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-bottom:10px" class="sum_table_headers">Trip total</td>
                        <td style="text-align:right;font-weight:bold;padding-bottom:10px">
                          {{shift_detail_data.total_amount?shift_detail_data.total_amount:'0'}}</td>
                      </tr>
                      <!--<tr>-->
                      <!--<td style="">Credit</td>-->
                      <!--<td style=""></td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td>Trip fully paid by credit</td>-->
                      <!--<td style="text-align:right">0.00</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td style="border-bottom:1px dotted white;">Trip partially paid by credit</td>-->
                      <!--<td style="text-align:right;border-bottom:1px dotted white;">+0.00</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td style="padding-bottom:10px" class="sum_table_headers">Credit total</td>-->
                      <!--<td style="text-align:right;font-weight:bold;padding-bottom:10px">0.00</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td style="">Credit card (external)</td>-->
                      <!--<td style=""></td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td>Trip total</td>-->
                      <!--<td style="text-align:right">395.00</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td style="border-bottom:1px dotted white;">Credit</td>-->
                      <!--<td style="text-align:right;border-bottom:1px dotted white;">-0.00</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                      <!--<td style="padding-bottom:10px" class="sum_table_headers">Credit card (external) total</td>-->
                      <!--<td style="text-align:right;font-weight:bold;padding-bottom:10px">395.00</td>-->
                      <!--</tr>-->
                      <!-- <tr>
                            <td class="sum_table_headers">Total order distance</td>
                            <td>{{ shift_detail_data.total_km }} km</td>
                          </tr>-->
                      <!--<tr>
                      <td class="sum_table_headers">Total shift distance
                        <span></span>
                      </td>
                      <td style="margin-left:1%;"> {{shift_detail_data.total_trip_distance}} km</td>
                    </tr>-->
                    </tbody>
                  </table>
                  <table class="sum_table">
                    <tbody>
                      <tr>
                        <td class="sum_table_headers" colspan="2">By payment extra</td>
                      </tr>
                      <tr *ngFor="let data of payment_extra">
                        <td>{{data.name}}</td>
                        <td> X {{data.count}}</td>
                        <td>{{data.amt.$numberDecimal}}</td>
                      </tr>

                      <tr>
                        <td>--------</td>
                        <td>--------</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-responsive">
                    <thead>
                      <tr>
                        <th>Shift Id(Company),
                          <br> Duration,
                          <br> Login start/end</th>
                        <th>Occupied/free(hh:mm:ss),
                          <br> First start/last stop,
                          <br> Orders distance/ total distance</th>
                        <th>Driver / vehicle
                          <br>Vehicle Plate/
                          <br>Vehicle Side Number
                        </th>
                        <th>Bill / Free rides</th>
                        <th>Payment type</th>
                        <th>Payment extra</th>
                        <th>Total price</th>
                        <th>Total driver cash</th>
                        <th>Payed</th>
                        <th>To pay</th>
                        <th> Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <span *ngIf="searchLoader">
                        <img src="assets/img/loader.gif" class="loader-img" />
                      </span>
                      <tr *ngFor="let shift of allShiftsData; let i = index" [attr.data-index]="i">
                        <td [ngClass]="{'expandedrowsbg': shift.expandedrows}">
                          {{shift.unique_shift_id}}
                          <br>(
                          <strong>{{shift.shift_details_id!=null ? shift.shift_details_id.company_id ?
                            shift.shift_details_id.company_id.company_name
                            : 'N/A' : 'Dubai Taxi'}}</strong>),
                          <span style="color:red;"> {{shift.empty_status =='0' ? 'Empty': ''}}</span>
                          <br>
                          <br>{{shift.shift_details_id!=null ? shift.shift_details_id.shift_duration ?
                          shift.shift_details_id.shift_duration
                          : 'N/A' : 'N/A'}},
                          <br>
                          <br> <span style="color:red;"
                            *ngIf="shift.shift_details_id && shift.shift_details_id.edit_flag && shift.shift_details_id.edit_flag==1">Edited
                            & Removed Shift from cashier</span>
                          <br> <span style="color:red;"
                            *ngIf="shift.shift_details_id && shift.shift_details_id.replaced_shift && shift.shift_details_id.replaced_shift==1">Newly
                            created after correction
                          </span>
                          <br>{{shift.shift_start ? shift.shift_start : 'N/A'}} / {{shift.shift_end ? shift.shift_end
                          :'Ongoing'}}
                          <button type="button" class="btn2" (click)="showInnerShifts(shift,i)"
                            *ngIf="!shift.selected && shift.shift_logs.length>0 && !shift.expandedrows">+</button>
                          <button type="button" class="btn2" (click)="showInnerShifts(shift,i)"
                            *ngIf="shift.selected && shift.shift_logs.length>0 && !shift.expandedrows">-</button>
                        </td>
                        <td>
                          {{shift.shift_details_id!=null ? shift.shift_details_id.occupied_time ?
                          shift.shift_details_id.occupied_time : 'N/A' : 'N/A'}}
                          / {{shift.shift_details_id!=null ? shift.shift_details_id.free_time ?
                          shift.shift_details_id.free_time
                          : 'N/A' : 'N/A'}},
                          <br>
                          <br>{{shift.shift_details_id!=null ? shift.shift_details_id.first_start ?
                          shift.shift_details_id.first_start
                          : 'N/A' : 'N/A'}} / {{shift.shift_details_id!=null ? shift.shift_details_id.last_stop ?
                          shift.shift_details_id.last_stop
                          : 'N/A' : 'N/A'}} ,
                          <br>
                          <br>{{shift.shift_details_id!=null ? shift.shift_details_id.orders_distance ?
                          shift.shift_details_id.orders_distance.$numberDecimal
                          : 'N/A' : 'N/A'}} / {{shift.shift_details_id!=null ? shift.shift_details_id.total_distance ?
                          shift.shift_details_id.total_distance.$numberDecimal
                          : 'N/A' : 'N/A'}}
                        </td>
                        <td>({{shift.driver_id!=null ? shift.driver_id.display_name ? shift.driver_id.display_name :
                          'N/A' : 'N/A'}}) {{shift.driver_id!=null
                          ? shift.driver_id.emp_id ? shift.driver_id.emp_id : 'N/A' : 'N/A'}} /
                          <br>
                          <br>({{shift.vehicle_id!=null ? shift.vehicle_id.vehicle_unique_id ?
                          shift.vehicle_id.vehicle_unique_id
                          : 'N/A' : 'N/A'}}) {{shift.vehicle_id!=null ? shift.vehicle_id.display_name ?
                          shift.vehicle_id.display_name
                          : 'N/A' : 'N/A'}}
                          <br>({{shift.vehicle_id!=null ? shift.vehicle_id.plate_number :'N/A'}})
                          <br>({{shift.vehicle_id!=null ? shift.vehicle_id.vehicle_identity_number :'N/A'}})
                        </td>
                        <td>/{{shift.shift_details_id!=null ? shift.shift_details_id.free_rides ?
                          shift.shift_details_id.free_rides
                          : 'N/A' : 'N/A'}}</td>
                        <td>
                          <table *ngIf="shift.shift_details_id!=null">
                            <th width="50%">{{shift.shift_details_id!=null ? shift.shift_details_id.payment_type
                          ?shift.shift_details_id.payment_type
                          :'Cash':'Cash'}}
                            </th>
                            <th width="50%"></th>
                            <th width="50%"></th>

                            <tr>
                              <td>
                                <span>Trip Total</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>{{shift.shift_details_id!=null ? shift.shift_details_id.total.$numberDecimal:'NA'}}
                                </span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Credit</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>{{shift.shift_details_id!=null ?
                            shift.shift_details_id.credit_total?shift.shift_details_id.credit_total.$numberDecimal:'0':'0'}}</span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Cash</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>&nbsp;{{shift.shift_details_id!=null ? shift.shift_details_id.cash_trip_total.$numberDecimal:'NA'}}</span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Account</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>&nbsp;{{shift.shift_details_id!=null ? shift.shift_details_id.account_total?shift.shift_details_id.account_total.$numberDecimal:'0':'0'}}</span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Online</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>&nbsp;{{shift.shift_details_id!=null ? shift.shift_details_id.card_total?shift.shift_details_id.card_total.$numberDecimal:'0':'0'}}</span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                          </table>
                          <span *ngIf="shift.shift_details_id==null"> NA </span>
                        </td>
                        <td *ngIf="shift.shift_details_id!=null">
                          <div>
                            <table *ngIf="shift.shift_details_id.salik!=null">
                              <th width="40%">Name </th>
                              <th width="20%"></th>
                              <th width="40%"> Price </th>
                              <tr *ngFor="let data of shift.shift_details_id.salik">
                                <td>
                                  {{data.name}}
                                </td>
                                <td>
                                </td>
                                <td>
                                  {{data.amt}}
                                </td>
                              </tr>
                            </table>
                          </div>
                          <span *ngIf="shift.shift_details_id.salik == null">NA</span>
                          <!--<div *ngIf="shift.shift_details_id!=null" >
                              <div *ngFor="let data of shift.shift_details_id.payment_extra">
                                <span> {{data.name}}</span><br><br> 
                                <span> {{data.amt}}</span><br> 
                              </div>
                              </div>-->
                        </td>
                        <td *ngIf="shift.shift_details_id==null">
                        </td>
                        <td>
                          <table *ngIf="shift.shift_details_id != null">
                            <th width="40%"></th>
                            <th width="30%"></th>
                            <th width="30%"></th>
                            <tr>
                              <td>
                                Drive
                              </td>
                              <td>
                              </td>
                              <td>
                                {{shift.shift_details_id.drive?shift.shift_details_id.drive.$numberDecimal:'0'}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Service
                              </td>
                              <td></td>
                              <td>
                                {{shift.shift_details_id.total_other_service?shift.shift_details_id.total_other_service.$numberDecimal:'0'}}

                              </td>
                            </tr>
                            <tr>
                              <td>
                                Payment Extra
                              </td>
                              <td>
                              </td>
                              <td>
                                {{shift.shift_details_id.total_salik?shift.shift_details_id.total_salik.$numberDecimal:'0'}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Total
                              </td>
                              <td>
                              </td>
                              <td>
                                {{shift.shift_details_id.total?shift.shift_details_id.total.$numberDecimal:'0'}}
                              </td>
                            </tr>

                          </table>
                          <span *ngIf="shift.shift_details_id == null"> NA </span>
                        </td>
                        <td>
                          <strong>{{shift.shift_details_id!=null ? shift.shift_details_id.cash_trip_total ?
                    shift.shift_details_id.cash_trip_total.$numberDecimal
                    : 'N/A' : 'N/A'}}</strong>
                        </td>
                        <td> {{shift.shift_details_id!=null ? shift.shift_details_id.payed ?
                  shift.shift_details_id.payed.$numberDecimal
                  : 'N/A' : 'N/A'}}</td>
                        <td>
                          {{shift.shift_details_id!=null ? shift.shift_details_id.cash_trip_total ?
                  shift.shift_details_id.cash_trip_total.$numberDecimal
                  : 'N/A' : 'N/A'}}
                        </td>
                        <!--<td>{{shift.shift_details_id!=null ? shift.shift_details_id.to_pay ? shift.shift_details_id.to_pay.$numberDecimal
                        : 'N/A' : 'N/A'}}</td>-->
                        <!-- <td> <button type="get" class="btn btn-sm btn-primary" style = "width: 5em;"> Update</button>  </td> -->
                        <td>
                          <span *ngIf="true == shift.empty_status;">
                            <button type="get" class="btn btn-sm btn-primary"
                              [routerLink]="['/admin/orders/shifts' , shift._id]">Open</button>
                          </span>
                          <span *ngIf="true == shift.empty_status;">
                            <span *ngIf="2 == shift.approve_status;" ng-hide='!shift.visibility'>
                              <button type="get" class="btn btn-sm btn-primary" (click)="openDialog(shift._id, i)"
                                style="width: 5em;">
                                Approve </button>
                            </span>
                          </span>
                          <span *ngIf="1 ==shift.approve_status;"> Shift Approved </span>
                        </td>
                      </tr>
                      <!--<ng-container *ngIf="showextrashift">
                      <tr style="padding:0;margin:0;"></tr>
                      <table></table>
                      <tr *ngFor="let shift of showlogs; let i = index" [attr.data-index]="i" style="color: red;">
                        <td>
                          {{selectedshift.unique_shift_id}}
                          <br>(
                          <strong>{{shift._id!=null ? shift.company ? shift.company : 'N/A' : 'Dubai Taxi'}}</strong>),
                          <span style="color:red;"> {{shift.empty_status =='0' ? 'Empty': ''}}</span>
                          <br>
                          <br>{{shift._id!=null ? shift.shift_duration ? shift.shift_duration : 'N/A' : 'N/A'}},
                          <br>
                          <br>{{shift.shift_start ? shift.shift_start : 'N/A'}} / {{shift.shift_end ? shift.shift_end :'N/A'}}
                        </td>
                        <td>
                          {{shift._id!=null ? shift.occupied_time ? shift.occupied_time : 'N/A' : 'N/A'}} / {{shift._id!=null ? shift.free_time ? shift.free_time
                          : 'N/A' : 'N/A'}},
                          <br>
                          <br>{{shift._id!=null ? shift.first_start ? shift.first_start : 'N/A' : 'N/A'}} / {{shift._id!=null
                          ? shift.last_stop ? shift.last_stop : 'N/A' : 'N/A'}} ,
                          <br>
                          <br>{{shift._id!=null ? shift.orders_distance ? shift.orders_distance.$numberDecimal : 'N/A' : 'N/A'}}
                          / {{shift._id!=null ? shift.total_distance ? shift.total_distance.$numberDecimal : 'N/A' : 'N/A'}}
                        </td>
                        <td>({{selectedshift.driver_id!=null ? selectedshift.driver_id._id ? selectedshift.driver_id._id : 'N/A'
                          : 'N/A'}}) {{selectedshift.driver_id!=null ? selectedshift.driver_id.username ? selectedshift.driver_id.username
                          : 'N/A' : 'N/A'}} /
                          <br>
                          <br>({{selectedshift.vehicle_id!=null ? selectedshift.vehicle_id.vehicle_unique_id ? selectedshift.vehicle_id.vehicle_unique_id
                          : 'N/A' : 'N/A'}}) {{selectedshift.vehicle_id!=null ? selectedshift.vehicle_id.display_name ? selectedshift.vehicle_id.display_name
                          : 'N/A' : 'N/A'}}
                          <br>({{selectedshift.vehicle_id!=null ? selectedshift.vehicle_id.plate_number :'N/A'}})
                          <br>({{selectedshift.vehicle_id!=null ? selectedshift.vehicle_id.vehicle_identity_number :'N/A'}})
                        </td>
                        <td>/{{shift._id!=null ? shift.free_rides ? shift.free_rides : 'N/A' : 'N/A'}}</td>
                        <td>
                          <table *ngIf="shift._id!=null">
                            <th width="50%">{{shift._id!=null ? shift.payment_type ?shift.payment_type :'Cash':'Cash'}}
                            </th>
                            <th width="50%"></th>
                            <th width="50%"></th>
                            <tr>
                              <td>
                                <span>Trip Total</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>{{shift._id!=null ? shift.total.$numberDecimal:'NA'}} </span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Credit</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>{{shift._id!=null ? shift.credit_total?shift.credit_total.$numberDecimal:'0':'0'}}</span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Cash</span>
                                <br>
                              </td>
                              <td></td>
                              <td>
                                <span>{{shift.shift_id!=null ? shift.cash_trip_total.$numberDecimal:'NA'}}</span>&nbsp;&nbsp;
                                <br>
                              </td>
                            </tr>
                          </table>
                          <span *ngIf="shift._id==null"> NA </span>
                        </td>
                        <td *ngIf="shift._id!=null">
                          <div>
                            <table *ngIf="shift.salik!=null">
                              <th width="40%">Name </th>
                              <th width="20%"></th>
                              <th width="40%"> Price </th>
                              <tr *ngFor="let data of shift.salik">
                                <td>
                                  {{data.name}}
                                </td>
                                <td>
                                </td>
                                <td>
                                  {{data.amt.$numberDecimal}}
                                </td>
                              </tr>
                            </table>
                          </div>
                          <span *ngIf="shift.salik == null">NA</span>
                          <!--<div *ngIf="shift.shift_details_id!=null" >
                      <div *ngFor="let data of shift.shift_details_id.payment_extra">
                        <span> {{data.name}}</span><br><br> 
                        <span> {{data.amt}}</span><br> 
                      </div>
                      </div>-->
                      <!--</td>
                        <td *ngIf="shift._id==null">
                        </td>
                        <td>
                          <table *ngIf="shift._id != null">
                            <th width="40%"></th>
                            <th width="30%"></th>
                            <th width="30%"></th>
                            <tr>
                              <td>
                                Drive
                              </td>
                              <td>
                              </td>
                              <td>
                                {{shift.drive?shift.drive.$numberDecimal:'0'}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Service
                              </td>
                              <td></td>
                              <td>
                                {{shift.total_other_service?shift.total_other_service.$numberDecimal:'0'}}

                              </td>
                            </tr>
                            <tr>
                              <td>
                                Payment Extra
                              </td>
                              <td>
                              </td>
                              <td>
                                {{shift.total_salik?shift.total_salik.$numberDecimal:'0'}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Total
                              </td>
                              <td>
                              </td>
                              <td>
                                {{shift.total?shift.total.$numberDecimal:'0'}}
                              </td>
                            </tr>

                          </table>
                          <span *ngIf="shift._id == null"> NA </span>
                        </td>
                        <td>
                          <strong>{{shift._id!=null ? shift.cash_trip_total ? shift.cash_trip_total.$numberDecimal : 'N/A' : 'N/A'}}</strong>
                        </td>
                        <td> {{shift._id!=null ? shift.payed ? shift.payed.$numberDecimal : 'N/A' : 'N/A'}}</td>
                        <td>{{shift._id!=null ? shift.to_pay ? shift.to_pay.$numberDecimal : 'N/A' : 'N/A'}}</td>
                        <!-- <td> <button type="get" class="btn btn-sm btn-primary" style = "width: 5em;"> Update</button>  </td> -->
                      <!--<td>
                          <span *ngIf="true == shift.empty_status;">
                            <button type="get" class="btn btn-sm btn-primary" [routerLink]="['/admin/orders/shifts' , shift.unique_shift_id]">Open</button>
                          </span>
                          <span *ngIf="true == shift.empty_status;">
                            <span *ngIf="2 == shift.approve_status;" ng-hide='!shift.visibility'>
                              <button type="get" class="btn btn-sm btn-primary" (click)="openDialog(shift._id, i)" style="width: 5em;"> Approve </button>
                            </span>
                          </span>
                          <span *ngIf="1 ==shift.approve_status;"> Shift Approved </span>
                        </td>
                      </tr>
                    </ng-container>-->
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="container-fluid" *ngIf="allShiftsLength>0">
                  <div class="row">
                    <div class="cols-md-12 text-center dataTables_info1">
                      <div *ngIf="del">
                        <ngb-pagination [collectionSize]="allShiftsLength" (pageChange)="pagingAgent($event)"
                          [(page)]="pNo" [pageSize]="itemsPerPage" aria-label="Default pagination" [maxSize]="5"
                          [boundaryLinks]="true"></ngb-pagination>
                      </div>
                      <div *ngIf="!del">
                        <ngb-pagination [collectionSize]="allShiftsLength" (pageChange)="pagingAgent($event)"
                          [(page)]="pNo" [pageSize]="itemsPerPage" aria-label="Default pagination" [maxSize]="5"
                          [boundaryLinks]="true"></ngb-pagination>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid" *ngIf="allShiftsLength==0">
                  <div class="row">
                    <div class="dataTables_info1">
                      <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                        No records found.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>