
<ngui-map (mapReady$)="onMapReady($event)" class="maping" [center]="center" [zoom]="12" [zoomControlOptions]="{position: 'TOP_RIGHT'}"
 [fullscreenControl]="true" [fullscreenControlOptions]="{position: 'TOP_RIGHT'}" [scrollwheel]="false">

	<polygon [geodesic]="true" *ngFor="let pos of triangleCoords" [paths]="pos" [strokeColor]="'#57ACF9'" [strokeOpacity]="1" [editable] = "false" [clickable] = 'false'
	 [strokeWeight]="3" [fillColor]="'#BCDCF9'" [fillOpacity]="0.75">
	</polygon>

</ngui-map>