<table class="table table-bordered">
  <thead>
    <tr *ngIf='customer_app'>
      <th colspan="2" style="text-align: center;">Reassign Order</th>
    </tr>
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ORDER ID</td>
      <td>{{orderInfo.unique_order_id}}</td>
    </tr>
    <tr>
      <td>CUSTOMER NAME</td>
      <td>{{orderInfo.user_id?orderInfo.user_id.firstname:'NA'}}</td>
    </tr>
    <tr>
      <td>CUSTOMER PHONE NUMBER</td>
      <td>{{orderInfo.user_id?orderInfo.user_id.phone_number:'NA'}}</td>
    </tr>
    <tr *ngIf='customer_app'>
      <td>BOOKED VEHICLE CATEGORY</td>
      <td>{{orderInfo.vehicle_category_ids.length>0?orderInfo.vehicle_category_ids[0].name:'NA'}}</td>
    </tr>
    <tr>
      <td>MESSAGE</td>
      <td>{{orderInfo.message?orderInfo.message:'NA'}}</td>
    </tr>
    <tr>
      <td>START ADDRESS</td>
      <td> {{orderInfo.pickup_location}} </td>
    </tr>
    <tr>
      <td>DROP ADDRESS</td>
      <td> {{orderInfo.drop_location}} </td>
    </tr>
    <tr *ngIf="this.orderInfo.tariff_id && this.orderInfo.tariff_id._id=='5b9e11e5eb5b0211b4156e27'">
      <td>Price</td>
      <td>
        <input type="text" class="form-control" numbervalidator pattern="^[1-9]\d*(\.\d+)?$" placeholder="Price"
          name="price" #total_usage_count="ngModel" [(ngModel)]="orderInfo.price" required>
        <div class="error-msg" *ngIf="total_usage_count.errors">
          <div [hidden]="!total_usage_count.errors.required">Price is required.</div>
          <ng-container *ngIf="orderInfo.generate_by !='delivery'">
            <div [hidden]="!total_usage_count.errors.pattern">Price should be more than 0 and a number.
            </div>
          </ng-container>
        
        </div>
      </td>
    </tr>
    <!--
    <tr>
      <td>
                Distribution Type
      </td>
      <td>
        <switch status="false" onText="Auto" offText="Manual" onColor="green"
                  offColor="red" size="8" (statusChange)="onReassignChange($event)"></switch>
      </td>
    </tr>-->
    <tr *ngIf='customer_app'>
      <td>
        SEARCH VEHICLE CATEGORY
      </td>
      <td>
        <div class="col-sm-10 form-input">
          <mat-form-field>
            <mat-select class="form-control" [formControl]="vehicle_category" name="vehicle_category" multiple
              [(ngModel)]="categorylist">
              <mat-option *ngFor="let category of CategoryData" [value]="category.unique_category_id">
                {{ category.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="fm-row">
          <div class="col-md-6">
            <label>vehicle
              <i class="mandatory">*</i>
            </label>
            <mat-form-field>
              <input type="text " class="form-control" matInput [formControl]="vehicleCtrl" [matAutocomplete]="autov"
                [(ngModel)]="vehicle" style="border:1px solid #C1C1C1">
              <mat-autocomplete #autov="matAutocomplete" [displayWith]="displayFnvehicle">
                <mat-option *ngFor="let item of vehicleData" (onSelectionChange)="OnSelectVehicle($event)"
                  [value]="item">
                  <!-- <span class="img-otr">
                          <img style="vertical-align:middle;" aria-hidden src="{{item.vehicle_model_id.vehicle_image ? imageurl + '/uploads/vehiclemodels/' + item.vehicle_model_id.vehicle_image: '../../assets/img/vehicle.jpeg'}}"
                            height="25" />
                        </span> -->
                  <div class="option-otr">
                    <div class="option_span"><b>Vehicle unique id :</b>{{ item.vehicle_unique_id }} </div>
                    <div class="option_span"><b>License :</b>{{ item.licence_number }} </div>
                    <div class="option_span"><b>Side Number :</b>{{ item.vehicle_identity_number }} </div>
                    <div class="option_span"><b>Display Name :</b>{{ item.display_name }} </div>
                    <div class="option_span" *ngIf="item.t4 && item.t4[0]=='1'">
                      <b>Vehicle category :</b> DTC Energy
                    </div>
                    <div class="option_span" *ngIf="item.t4 && item.t4[0]=='2'">
                      <b>Vehicle category :</b> DTC Black
                    </div>
                    <div class="option_span" *ngIf="item.t4 && item.t4[0]=='3'">
                      <b>Vehicle category :</b> DTC Black XL
                    </div>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <label>Driver
              <i class="mandatory">*</i>
            </label>
            <mat-form-field>
              <input type="text" class="form-control" matInput [formControl]="driverCtrl" [matAutocomplete]="autodriver"
                [(ngModel)]="driver" style="border:1px solid #C1C1C1">
              <mat-autocomplete #autodriver="matAutocomplete" [displayWith]="displayFnDriver">
                <mat-option *ngFor="let item of driverData" (onSelectionChange)="OnSelectDriver($event)" [value]="item">
                  <!-- <span class="img-otr">
                          <img style="vertical-align:middle;" aria-hidden src="{{item.profile_picture ? imageurl + '/uploads/drivers/' + item.profile_picture : '../../assets/img/noimage.jpg'}}"
                            height="25" />
                        </span> -->
                  <div class="option-otr">
                    <div class="option_span">
                      <b> Username:</b> {{ item.username }}</div>
                    <div class="option_span">
                      <b>Name:</b>{{ item.name }} &nbsp;{{ item.surname }}</div>
                    <div class="option_span">
                      <b>Display Name:</b>{{ item.display_name }}</div>
                    <div class="option_span">
                      <b>vehicle Plate:</b>{{ item.vehicle_id? item.vehicle_id.vehicle_identity_number
                            :'N/A' }}</div>
                    <div class="option_span">
                      <b>Device Id:</b>{{ item.device_id ? item.device_id.unique_device_id :'N/A'}}</div>
                    <div class="option_span" *ngIf="item.t4 && item.t4[0]=='1'">
                      <b>Vehicle category :</b> DTC Energy
                    </div>
                    <div class="option_span" *ngIf="item.t4 && item.t4[0]=='2'">
                      <b>Vehicle category :</b> DTC Black
                    </div>
                    <div class="option_span" *ngIf="item.t4 && item.t4[0]=='3'">
                      <b>Vehicle category :</b> DTC Black XL
                    </div>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>


        </div>
        <!-- fm Row Ends -->
      </td>
    </tr>
  </tbody>
</table>
<div class="pop-btn text-right">
  <span class="error-msg">{{message}}</span>
  <button class="btn btn-primary close-btn" type="submit" (click)="saveReassignOrder()">Save</button>
  <button class="btn btn-default close-btn" type="button" (click)="closePop()">Cancel</button>
</div>