<ul class="nav nav-tabs">
  <button type="button" class="close" data-dismiss="modal" (click)="dialogRef.close()">
    &times;
  </button>
  <a class="nav-link active">{{heading}}</a>
</ul>
<ul class="list-group">
  <li *ngIf="transaction_data.afsReply" class="list-group-item" data-toggle="collapse" data-target="#demo">afsReply<span
      class="right"><i class="fa fa-chevron-circle-down"></i></span>
    <div id="demo" class="collapse">
      <table class="table table-bordered">
        <tr *ngIf="transaction_data.afsReply.afsFactorCode">
          <td>afsFactorCode </td>
          <td>{{transaction_data.afsReply.afsFactorCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.afsResult">
          <td>afsResult</td>
          <td>{{transaction_data.afsReply.afsResult}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.consumerLocalTime">
          <td>consumerLocalTime</td>
          <td>{{transaction_data.afsReply.consumerLocalTime}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.hostSeverity">
          <td>hostSeverity</td>
          <td>{{transaction_data.afsReply.hostSeverity}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.internetInfoCode">
          <td>internetInfoCode</td>
          <td>{{transaction_data.afsReply.internetInfoCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.reasonCode">
          <td>reasonCode</td>
          <td>{{transaction_data.afsReply.reasonCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.scoreModelUsed">
          <td>scoreModelUsed</td>
          <td>{{transaction_data.afsReply.scoreModelUsed}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.suspiciousInfoCode">
          <td>suspiciousInfoCode</td>
          <td>{{transaction_data.afsReply.suspiciousInfoCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.afsReply.velocityInfoCode">
          <td>velocityInfoCode</td>
          <td>{{transaction_data.afsReply.velocityInfoCode}}</td>
        </tr>
      </table>
    </div>
  </li>

  <li *ngIf="transaction_data.ccAuthReply" class="list-group-item" data-toggle="collapse" data-target="#demo2">
    ccAuthReply<span class="right"><i class="fa fa-chevron-circle-down"></i></span>
    <div id="demo2" class="collapse">
      <table class="table table-bordered">
        <tr *ngIf="transaction_data.ccAuthReply.amount">
          <td>amount</td>
          <td>{{transaction_data.ccAuthReply.amount}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.authorizationCode">
          <td>authorizationCode</td>
          <td>{{transaction_data.ccAuthReply.authorizationCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.authorizedDateTime">
          <td>authorizedDateTime</td>
          <td>{{transaction_data.ccAuthReply.authorizedDateTime}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.avsCode">
          <td>avsCode</td>
          <td>{{transaction_data.ccAuthReply.avsCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.avsCodeRaw">
          <td>avsCodeRaw</td>
          <td>{{transaction_data.ccAuthReply.avsCodeRaw}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.cavvResponseCode">
          <td>cavvResponseCode</td>
          <td>{{transaction_data.ccAuthReply.cavvResponseCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.cavvResponseCodeRaw">
          <td>cavvResponseCodeRaw</td>
          <td>{{transaction_data.ccAuthReply.cavvResponseCodeRaw}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.merchantAdviceCode">
          <td>merchantAdviceCode</td>
          <td>{{transaction_data.ccAuthReply.merchantAdviceCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.merchantAdviceCodeRaw">
          <td>merchantAdviceCodeRaw</td>
          <td>{{transaction_data.ccAuthReply.merchantAdviceCodeRaw}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.cardCategory">
          <td>cardCategory</td>
          <td>{{transaction_data.ccAuthReply.cardCategory}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.cardGroup">
          <td>cardGroup</td>
          <td>{{transaction_data.ccAuthReply.cardGroup}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.paymentNetworkTransactionID">
          <td>paymentNetworkTransactionID</td>
          <td>{{transaction_data.ccAuthReply.paymentNetworkTransactionID}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.processorResponse">
          <td>processorResponse</td>
          <td>{{transaction_data.ccAuthReply.processorResponse}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.reasonCode">
          <td>reasonCode</td>
          <td>{{transaction_data.ccAuthReply.reasonCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccAuthReply.reconciliationID">
          <td>reconciliationID</td>
          <td>{{transaction_data.ccAuthReply.reconciliationID}}</td>
        </tr>
      </table>
    </div>
  </li>

  <li *ngIf="transaction_data.ccCaptureReply" class="list-group-item" data-toggle="collapse" data-target="#demo3">
    ccCaptureReply<span class="right"><i class="fa fa-chevron-circle-down"></i></span>
    <div id="demo3" class="collapse">
      <table class="table table-bordered">
        <tr *ngIf="transaction_data.ccCaptureReply.amount">
          <td>amount </td>
          <td>{{transaction_data.ccCaptureReply.amount}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccCaptureReply.reasonCode">
          <td>reasonCode</td>
          <td>{{transaction_data.ccCaptureReply.reasonCode}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccCaptureReply.reconciliationID">
          <td>reconciliationID</td>
          <td>{{transaction_data.ccCaptureReply.reconciliationID}}</td>
        </tr>
        <tr *ngIf="transaction_data.ccCaptureReply.requestDateTime">
          <td>requestDateTime</td>
          <td>{{transaction_data.ccCaptureReply.requestDateTime}}</td>
        </tr>
      </table>
    </div>
  </li>
  <li class="list-group-item" *ngIf="transaction_data.decision">
    <td class="w">decision</td>
    <td>{{transaction_data.decision}}</td>
  </li>
  <li class="list-group-item" *ngIf="transaction_data.decisionReply">
    <td class="w">decisionReply</td>
    <td>velocityInfoCode : {{transaction_data.decisionReply.velocityInfoCode}}</td>
  </li>
  <li class="list-group-item" *ngIf="transaction_data.merchantReferenceCode">
    <td class="w">merchantReferenceCode</td>
    <td>{{transaction_data.merchantReferenceCode}}</td>
  </li>
  <li class="list-group-item" *ngIf="transaction_data.purchaseTotals && transaction_data.purchaseTotals.currency">
    <td class="w">purchaseTotals</td>
    <td>currency : {{transaction_data.purchaseTotals.currency}}</td>
  </li>
  <li class="list-group-item" *ngIf="transaction_data.reasonCode">
    <td class="w">reasonCode</td>
    <td>{{transaction_data.reasonCode}} {{reasonCodes[transaction_data.reasonCode]}}</td>
  </li>
  <li class="list-group-item" *ngIf="transaction_data.requestID">
    <td class="w">requestID</td>
    <td>{{transaction_data.requestID}}</td>
  </li>
  <li class="list-group-item table-responsive" *ngIf="transaction_data.requestToken">
    <td class="w">requestToken</td>
    <td>{{transaction_data.requestToken}}</td>
  </li>
</ul>