.alertdanger {
    color: #FF0000;
    font-size: 1rem;
    padding-left: 1rem;
  }
p{
  min-height: 2rem;
}
.pop-btn{
  padding-top: 2.3rem;
}
.orderinfo{
  width: 100%;
  border-bottom: 1px solid #F1F1F1;
}