<div class="msg-pop orderinfo">
  <h3>Edit customer</h3>
</div>
<div>
  <label>Name:</label>
  <input type="text" class="form-control" [(ngModel)]="customerEditForm.name" required />
  <p><span class="alertdanger" *ngIf="customerEditForm.error2">
      {{customerEditForm.error2}}
    </span>
  </p>
  <label>Email:</label>
  <input type="text" class="form-control"  pattern="(([^<>()\[\]\\.,;:\s@']+(\.[^<>()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))?" [(ngModel)]="customerEditForm.email" #customer_email="ngModel" />
  <p>
      <span class="alertdanger"
      *ngIf="customer_email.errors && (customer_email.dirty || customer_email.touched) && customer_email.errors.pattern">E-mail id is invalid.
    </span>
  </p>
  <label>Country code:</label>
  <input type="text" matInput [(ngModel)]="customerEditForm.dialCode" class="form-control" (ngModelChange)="tellInputChanged($event)" [matAutocomplete]="auto12"
    placeholder="Country"  #customer_country="ngModel"/>
  <mat-autocomplete #auto12="matAutocomplete" [displayWith]="displayFnCountry" pattern="[0-9]+?">
    <mat-option *ngFor="let item of filteredCountryList" [value]="item.code">
      +{{ item.code }} {{ item.name }}
    </mat-option>
  </mat-autocomplete>
  <p>
    <span class="alertdanger"
      *ngIf="customer_country.errors && (customer_country.dirty || customer_country.touched) && customer_country.errors.pattern">Country code is invalid.
    </span>
  </p>
  <label>Phone:</label>
  <br />
  <input type="text" class="form-control" [(ngModel)]="customerEditForm.phone" pattern="[0-9]+?"
    #customer_phone="ngModel" />
  <p>
    <span class="alertdanger" *ngIf="customerEditForm.error">
      {{customerEditForm.error}}
    </span>
    <span class="alertdanger"
      *ngIf="customer_phone.errors && (customer_phone.dirty || customer_phone.touched) && customer_phone.errors.pattern">Phone
      number is invalid.
    </span>
  </p>
</div>
<div class="pop-btn text-right">
  <button class="btn btn-sm btn-primary blue" [disabled]="customerEditForm.isLoading" (click)="updateCustomerDetails()"
    type="submit">Save</button>
  <button class="btn btn-sm btn-primary red" type="button" (click)="closePop()">Cancel</button>
</div>