@font-face {
    font-family: 'Nexa';
    src: url('../../../assets/fonts/NexaLight.woff2') format('woff2'),
        url('../../../assets/fonts/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Nexa';
    src: url('../../../assets/fonts/NexaBold.woff2') format('woff2'),
        url('../../../assets/fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'Nexa' !important;
    font-weight: 300;
    font-style: normal;
}
/*Topnav*/


/*sidenav*/

/*midtable*/
.titlebar
{
    font-family: 'Nexa' !important;
    float: right;
    width: 100%;
     background: #fff;
    height: 55px;
     margin-top: 13px;
    padding-top: 12px;
    padding-left: 24px;
    
    
}
.titlebar b
{
    color: #dd4f4d;
    font-size: 22px;
}

.dropdown
{
    float: right;
    width: 100%;
     background: #f4f4f4;
    height: 39px;
     margin-top: 13px;
    padding-top: 12px;
    padding-left: 24px;
    
    
}
.midtable
{   font-family: 'Nexa' !important;
    width: 80%;
    float: right;
    position: relative;
   /* top: 74px;*/
    background: #f4f4f4;
}
.middletable
{
    float: right;
    width: 100%;
    margin-top: 13px;
}
.history_table {
  
    border-collapse: collapse;
    width: 100%;
}

.history_table td, .history_table th {
    padding: 24px;
}

.history_table tr:nth-child(even){background-color: #f2f2f2;}
.history_table tr:nth-child(odd){background-color: #ffff;}

.history_table tr:hover {background-color: #ddd;}

.history_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFF;
    color: black;
    padding-left: 24px;
    font-size: 15px;

}
.drop_content{
    display: flex;
    width: 100%;
    background: #dadada;
}
.trip_details{
    width: 35%;
}
.start_trip, .end_trip{
    display: inline-flex;
    margin-bottom: 10px;
}
i{
    margin-right: 5px;
}
.start_trip i{
    color: #dd4f4d;
}
.end_trip i{
    color: #434582;
}
.trip_time{
    display: flex;
    flex-flow: column;
    margin-left: 20px;
}

.trip_time div{
    display: flex;
    margin-bottom: 5px;
}
.trip_time div span {
    width: 90px;
}
.car_details{
    width: 30%;
}
.car_details div{
    display: flex;
    margin-bottom: 5px;
}
.car_details div span{
    width: 85px;
}
.payment_table{
    width: 35%;
    background-color: #dadada;
}
.payment_table table{
    background: #dadada;
    text-align: center;
}
.payment_table tr th:nth-child(even){background-color: #dadada; text-align: center;}
.payment_table tr td:nth-child(even){background-color: #dadada;}
.payment_table tr td:nth-child(odd){background-color: #c5c3c4;}
.payment_table tr th:nth-child(odd){background-color: #c5c3c4; text-align: center;}
.payment_table table th, .payment_table table td{
    padding: 0px;
}

.payment_table table th {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    background-color: #FFF;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

b{
    color: #dd4f4d;
}
.trip_details span , .car_details span{
    font-weight: 700;
}
.pagination span{
    background-color: #dd4f4d !important;
    border-color: #dd4f4d !important;
}