<div class="midtable">
  <div class="titlebar">
    <b>Trip History</b>
  </div>

  <div class="dropdown">
    <b>Sort by :</b>
  </div>
  <div class="middletable">
    <table class="history_table">
      <tr>
        <th>Date & Time</th>
        <th>Details</th>
        <th>Vehicle Side No</th>
        <th>AED</th>
        <th></th>
      </tr>
      <ng-container *ngFor="let trip of orderHistory">


        <tr (click)="hideme==trip._id? hideme='' : hideme = trip._id">
          <td>{{trip.created_at}}</td>
          <td>Trip :{{trip.unique_order_id}}</td>
          <td>{{trip.vehicle_id.licence_number}}</td>
          <td>{{trip.price}} </td>
          <td><a href=""><img src="../../../assets/imgs/drop_down.png"></a></td>
        </tr>
        <tr *ngIf="hideme == trip._id" style="background: #dadada;">
          <td colspan="100" style="padding:20px 10px">
            <div class="drop_content">
              <div class="trip_details">
                <div class="start_trip">
                  <i class="fa fa-circle" aria-hidden="true"></i> <div>{{trip.pickup_location}}</div>
                </div>
                <div class="end_trip">
                  <i class="fa fa-circle" aria-hidden="true"></i> <div>{{trip.drop_location}}</div>
                </div>
                <div class="trip_time">
                  <div><span>Start Time</span>: {{trip.start_time}} </div>
                  <div><span>End Time</span>: {{trip.end_time}} </div>
                  <div><span>Accept Time</span>: {{trip.sync_trip_id.accepted_trip_calendar}} </div>
                </div>
              </div>
              <div class="car_details">
                <div><i class="fa fa-car" aria-hidden="true"></i> {{trip.vehicle_id.plate_number}}</div>
                <div *ngIf="trip.assign_type=='offline'"><span>Order Type</span>: Offline</div>
                <div *ngIf="trip.assign_type=='!offline'"><span>Order Type</span>: Dispatcher</div>
                <div *ngIf="trip.sync_trip_id.payment_type==1"><span>Payment</span>: <b> Cash</b></div>
                <div *ngIf="trip.sync_trip_id.payment_type==2"><span>Payment</span>: <b> Card</b></div>
                <div><span>Partner</span>: {{trip.partner_id.name}}</div>
                <div><span>Tariff</span>: {{trip.tariff_id.name}}</div>
              </div>
              <div class="payment_table">
                <table>
                  <tr>
                    <td style="text-align:center; background-color: #FFF; color:#dd4f4d" colspan="100"><b>Payment Asset</b></td>
                  </tr>
                  <tr>
                    <th>Asset</th>
                    <th>Base Price</th>
                    <th>VAT</th>
                    <th>Price</th>
                  </tr>
                  <tr *ngFor="let sync of trip.sync_trip_id.amt_splitup">
                    <td>{{sync.name}}</td>
                    <td>{{sync.amt_without_vat}}</td>
                    <td>{{sync.vat}}</td>
                    <td>{{sync.amt}}</td>
                  </tr>
                  <tr style="background-color:#dadada;">
                    <td style="background-color:#dadada;"><b>Total</b></td>
                    <td></td>
                    <td style="background-color:#dadada;"></td>
                    <td style="background-color:#dadada; color:#dd4f4d"><b>{{trip.price}}</b></td>
                  </tr>
                </table>
              </div>
            </div>

          </td>
        </tr>
      </ng-container>
    </table>

    <br>

    <div class="container-fluid" *ngIf="faqLength>0">
      <div class="row col-md-12 text-center">
        <div class="dataTables_info1">
          <div>
            <ngb-pagination [collectionSize]="faqLength" (pageChange)="pagingAgent($event)" [page]="1" [pageSize]="itemsPerPage"
              aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="faqLength==0">
      <div class="row">
        <div class="dataTables_info1">
          <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
            No records found.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
