<div class="fm-row">
  <!-- <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-sm btn-primary green" (click)="zoneSave()">
        <i class="fa fa-floppy-o"></i> Save Zone</button>
      <button class="btn btn-sm btn-primary red" (click)="deleteSelectedOverlay()">
        <i class="fa fa-eraser"></i> Delete Selected</button>
    </div>
  </div> -->
  <ngui-map (mapReady$)="onMapReady($event)" class="maping" [center]=center [zoom]="10"
    [zoomControlOptions]="{position: 'TOP_RIGHT'}" [fullscreenControl]="true"
    [fullscreenControlOptions]="{position: 'TOP_RIGHT'}" [scrollwheel]="false">

    <traffic-layer></traffic-layer>
   
  </ngui-map>
</div>