<button type="button" class="close" data-dismiss="modal" [mat-dialog-close]>
  &times;
</button>
<!-- <span class="comment_status" [ngStyle]="{'color':comment_status=='completed'?'green':'red'}">{{comment_status}}</span> -->
<h4 style="padding-bottom: 5px">Comments</h4>
<div class="outer-box">
  <div class="box" id="comment">
    <div class="received_msg">
      <!-- <div class="text-center" *ngIf="!isLoading">
        <button class="btn btn-default" *ngIf="comments.length<count" (click)="pagination()">Show more</button>
      </div> -->
      <div *ngIf="isLoading">
        {{invalid}}
      </div>
      <div *ngFor="let comment of commentList.comments">
        <div class="received_withd_msg">
          <!-- <span class="name">{{comment.created_at | date: 'M/d/yy, h:mm a'}}</span> -->
          <p [innerHTML]="comment.html_body">
          </p>
          <span class="time_date">{{comment.created_at | date: 'M/d/yy, h:mm a'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
