<div class="msg-pop orderinfo">
  <div>
    <h3>Driver Status</h3>
  </div>
</div>
<div>
  <div class="pop--inner">
    <div class="row div-scroll">
      <div class=" col-sm-12">
        <label class="control-label">Current Status : <span *ngIf="!driverData.driver_status"
            style="color: green">Active</span>
          <span *ngIf="driverData.driver_status=='A'" style="color: green">Active</span>
          <span *ngIf="driverData.driver_status=='T'" style="color: red">Terminated</span>
          <span *ngIf="driverData.driver_status=='S'" style="color:orange">Suspended</span>
          <span *ngIf="driverData.driver_status=='I'" style="color:darkgoldenrod">In Active</span>
        </label>
      </div>
    </div>
    <form [formGroup]="editForm" class="form-horizontal" (ngSubmit)="updateDriverStatus();">
      <div class="row">
        <div class="col-sm-6">
          <label class="control-label">Select Driver status</label>
        </div>
        <div class="col-sm-6">
          <mat-select class="form-control" formControlName="status" placeholder="Select Driver status" name="status"
            [(ngModel)]="statusinfo.status">
            <mat-option [value]="'A'">Active</mat-option>
            <mat-option [value]="'T'">Terminate</mat-option>
            <mat-option [value]="'S'">Suspend</mat-option>
            <mat-option [value]="'I'">In Active</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 pop-btn text-right">
          <button class="btn btn-sm btn-primary blue" type="submit">Save</button>
          <button class="btn btn-sm btn-primary red" type="button" (click)="closePop()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>