
.gallery{
    float: left;
    min-width: 200px;
    height: 110px;
    margin-left: 30px;
    margin-right: -0.8px;
    margin-bottom:30px;
    color: #0c0c0c;
    background-color: white;
    padding: 1.5rem 2rem 2rem 2rem;
    font-weight: 900;
    cursor:pointer;
    transition: .4s ease-out;
    }
.gallery:hover{
    background-color: #FFF;
    }

.stat_count{
    font-size: 28px;
    font-weight: 900;
    }
.stat_text{
    color: #bd0711;
    font-weight: 900;
    font-size: 12px;
    max-width: 250px;
    }
.form-otr input{position: relative;}
.form-otr i.fa-calendar{position: absolute; right: 22px;  top: 6px;}
.owl-dt-timer-content {
    pointer-events: none;
}
.csv{  
    float: right;
    height: 28px;
    padding-top: 5px;
}
.csv img{  
    height: 28px;
}