<div class="col-lg-12 animated fadeInRight">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>
                            <b>Manage Social Settings</b>
                        </h3>
                        <div class="fm-row float2">
                            <div class="text-right">
                                <div class="col-md-12 text-right">
                                    <!-- <div class="col-xs-4">
                                      <input [(ngModel)]="message" name="message" (keydown.enter)="searchMessage()" autocomplete="off" type="text"
                                          class="form-control" placeholder="Search For Message" />
                                  </div> -->
                                    <!-- <div class="col-xs-8 text-right"> -->
                                        <!-- <button class="btn btn-sm btn-primary blue" type="get" (click)="searchMessage()">
                                            <i class="fa fa-search"></i> Search</button>
                                        <button type="submit" class="btn btn-primary btn-sm green" (click)="refresh()">
                                            <i class="fa fa-refresh"> Refresh</i>
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-sm red" (click)="reset()">
                                            <i class="fa fa-eraser"> Reset filters</i>
                                        </button> -->
                                        <!-- <button type="submit" class="btn btn-primary btn-sm blue"  [routerLink]="['/admin/administration/faq/add']" >
                                            Add new record
                                        </button> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th (click)="sort('social_type')">Social Type
                                                <span>
                                                    <i class="fa fa-sort-asc fa_custom up" [ngClass]="{'sorted-color': sortOrder=='desc' && key =='social_type' }"></i>
                                                    <i class="fa fa-sort-desc fa_custom down" [ngClass]="{'sorted-color': sortOrder=='asc' && key =='social_type' }"></i>
                                                </span>
                                            </th>
                                            <th (click)="sort('status')">Staus
                                                <span>
                                                    <i class="fa fa-sort-asc fa_custom up" [ngClass]="{'sorted-color': sortOrder=='desc' && key =='status' }"></i>
                                                    <i class="fa fa-sort-desc fa_custom down" [ngClass]="{'sorted-color': sortOrder=='asc' && key =='status' }"></i>
                                                </span>
                                            </th>
                                            <th (click)="sort('updated_at')">Date
                                                <span>
                                                    <i class="fa fa-sort-asc fa_custom up" [ngClass]="{'sorted-color': sortOrder=='desc' && key =='updated_at' }"></i>
                                                    <i class="fa fa-sort-desc fa_custom down" [ngClass]="{'sorted-color': sortOrder=='asc' && key =='updated_at' }"></i>
                                                </span>
                                            </th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <span *ngIf="showloader">
                                            <img src="assets/img/loader.gif" class="loader-img" />
                                        </span>
                                        <tr *ngFor="let socialSettings of socialSettingsData; let i = index" [attr.data-index]="i">
                                            <td>{{socialSettings.social_type}} </td>
                                            <!-- <td><button type="button" >{{socialSettings.status==0 ? 'Enable' : 'Disable' }}</button></td> -->
                                            <td *ngIf="socialSettings.status == '1'">
                                                <button [disabled]="!aclAdd" class="btn btn-sm btn-danger" (click)="openDialogToEnable(socialSettings, i)">Disable</button>
                                            </td>
                                            <td *ngIf="socialSettings.status == '0'">
                                                <button [disabled]="!aclAdd" class="btn btn-sm btn-primary" (click)="openDialogToDisable(socialSettings, i)">Enable</button>
                                            </td>
                                            <td>{{socialSettings.updated_at | date}}</td>
                                            <!-- <td>
                                                <span matTooltip="Edit">
                                                    <a [routerLink] = "['/admin/administration/faq/edit', faq._id]" ><i class="fa fa-edit text-navy"  ></i></a>&nbsp;&nbsp;&nbsp;
                                                </span>
                                                <span matTooltip="Delete">
                                                    <a (click)="openDialog(faq._id)"  ><i class="fa fa-trash text-navy"  ></i> </a>
                                                </span> 
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>

                            <div class="container-fluid" *ngIf="socialSettingsLength>0">
                                <div class="row col-md-12 text-center">
                                    <div class="dataTables_info1">
                                        <div>
                                            <ngb-pagination [collectionSize]="socialSettingsLength" (pageChange)="pagingAgent($event)" [page]="1" [pageSize]="itemsPerPage" aria-label="Default pagination"
                                                [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid" *ngIf="socialSettingsLength==0">
                                <div class="row">
                                    <div class="dataTables_info1">
                                        <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                                            No records found.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
