<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-md-12">
        <h2>Administration</h2>
    </div>
</div>
    <div class="gallery" *ngIf="show('promo')">
        <a [routerLink]="['submenu/promo']">
            <img class="icon-img" src="assets/img/promo.png" alt="MyTaxi">
            <div class="desc">
                <b> Promo</b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('payment')">
        <a [routerLink]="['submenu/payment']">
            <img class="icon-img" src="assets/img/type.png" alt="MyTaxi">
            <div class="desc">
                <b> Payment</b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('partners')">
        <a [routerLink]="['submenu/partners']">
            <img class="icon-img" src="assets/img/partner.png" alt="MyTaxi">
            <div class="desc">
                <b> Partner</b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('vehicles')">
        <a [routerLink]="['submenu/vehicles']">
            <img class="icon-img" src="assets/img/vehicle.png" alt="MyTaxi">
            <div class="desc">
                <b> Vehicle</b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('zones')">
        <a [routerLink]="['submenu/zones']">
            <img class="icon-img" src="assets/img/promo.png" alt="MyTaxi">
            <div class="desc">
                <b> Zones</b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('tariff')">
        <a [routerLink]="['/admin/administration/tariffs']">
            <img class="icon-img" src="assets/img/tariff.png" alt="MyTaxi">
            <div class="desc">
                <b> Tariff </b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('companies')">
            <a [routerLink]="['/admin/administration/companies']">
              <img class="icon-img" src="assets/img/promo.png" alt="MyTaxi">
              <div class="desc">
                <b> Companies </b>
              </div>
            </a>
    </div>
    
    <div class="gallery" *ngIf="show('messages')">
        <a [routerLink]="['submenu/messages']">
            <img class="icon-img" src="assets/img/mes.png" alt="MyTaxi">
            <div class="desc">
                <b> Messages </b>
            </div>
        </a>
    </div>
    <div class="gallery" *ngIf="show('other')">
        <a [routerLink]="['submenu/other']">
            <img class="icon-img" src="assets/img/promo.png" alt="MyTaxi">
            <div class="desc">
                <b> Other</b>
            </div>
        </a>
    </div>