<div class="col-lg-12 animated fadeInRight">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>
                            <b>Manage Additional Services</b>
                        </h3>

                        <div class="fm-row">
                                <form #form="ngForm" method="get" class="form form-horizontal">
                                    <div class="row">
                                        <div class="col-xs-3">

                                                 <input [(ngModel)]="name" (keydown.enter)="getServices()" autocomplete="off" name="name" class="form-control input-sm-3" placeholder="Search For Name"/>
                                        </div>

                                        <div class= "col-xs-3">
                                                <select [(ngModel)]="service_type" name="service_type" class="form-control" placeholder= "Select type">
                                                            <option Value="" hidden>  Select type </option>
                                                            <option Value="VEHICLE"> VEHICLE</option>
                                                            <option Value="DRIVER"> DRIVER</option>
                                                            </select>
                                        </div>
                                        <div class="">
                                                <div class="col-xs-6 text-right">
                                                         <button type="get" (click)="getServices();" class="btn btn-sm btn-primary blue">
                                                                    <i class="fa fa-search"></i> Search</button>
                                                                    <button class="btn btn-sm btn-primary green" (click)="refetchVehicle()"><i class="fa fa-refresh" ></i> Refresh</button>
                                                                    <button class="btn btn-sm btn-primary red" (click)="reset()"><i class="fa fa-eraser" ></i> Reset filters</button>
                                                                    <ng-container *ngIf="aclAdd">
                                                                        <button type="submit" class="btn btn-primary btn-sm blue" [routerLink]="['/admin/fleet/servicegroup/add']">Add New Record</button>
                                                                    </ng-container>
                                                    </div>
                                                    </div>
                                    </div>
                                </form>
                            </div>

                        <!-- <div class="fm-row">
                          <form #form="ngForm" method="get" class="form form-horizontal">
                              <div class="row">
                                  <div class="col-xs-2">
                                      <select [(ngModel)]="vehicle_model_id" name="vehicle_model_id" class="form-control" placeholder="Vehicle name">
                                          <option Value=" ">Select vehicle</option>
                                          <option [value]="vehicleModel._id" *ngFor="let vehicleModel of vehicleModelData">
                                              {{vehicleModel.name}}
                                          </option>
                                      </select>
                                  </div>

                                  <div class="col-xs-2">
                                      <input [(ngModel)]="_id" name="_id" type="text" #item class="form-control input-sm-3" placeholder="Enter vehicle Id" />
                                  </div>

                                  <div class="col-xs-2">
                                      <button type="get" (click)="searchVehicles();" class="btn btn-sm btn-primary">
                                          <i class="fa fa-search"></i>
                                          Search
                                      </button>
                                  </div>

                                      <div class="col-xs-6 text-right">
                                              <button class="btn btn-sm btn-primary" (click)="refresh()"><i class="fa fa-refresh" ></i>Reset</button>
                                           <button type="submit" class="btn btn-primary btn-sm" [routerLink]="['/admin/fleet/vehicles/add']">Add New Record</button>
                                      </div>
                              </div>
                          </form>
                      </div> -->
                        <!-- Fm Row Ends -->
                    </div>

                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-responsive">
                                <thead>
                                    <tr>

                                        <th (click)="sort('name')">Name
                                            <span>
                                                <i class="fa fa-sort-asc fa_custom up" [ngClass]="{'sorted-color': sortOrder=='desc' && key =='name' }"></i>
                                                <i class="fa fa-sort-desc fa_custom down" [ngClass]="{'sorted-color': sortOrder=='asc' && key =='name' }"></i>
                                            </span>
                                        </th>
                                        <th (click)="sort('service_type')">Service Type
                                            <span>
                                                <i class="fa fa-sort-asc fa_custom up" [ngClass]="{'sorted-color': sortOrder=='desc' && key =='service_type' }"></i>
                                                <i class="fa fa-sort-desc fa_custom down" [ngClass]="{'sorted-color': sortOrder=='asc' && key =='service_type' }"></i>
                                            </span>
                                        </th>
                                        <th>Date</th>
                                        <th *ngIf="aclEdit || aclDelete">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <span *ngIf="searchSubmit">
                                        <img src="assets/img/loader.gif" class="loader-img" />
                                    </span>
                                    <tr *ngFor="let serviceGroup of serviceGroupData">

                                        <td>{{serviceGroup.name}}</td>
                                        <td>{{serviceGroup.service_type}}</td>
                                        <td>{{serviceGroup.updated_at | date }}</td>
                                        <td *ngIf="aclEdit || aclDelete">
                                            <span *ngIf="aclEdit" matTooltip="Edit">
                                                <a [routerLink]="['/admin/fleet/servicegroup/edit/', serviceGroup._id]">
                                                    <i class="fa fa-edit text-navy"></i>
                                                </a>
                                            </span>
                                            &nbsp; &nbsp;&nbsp;
                                            <span *ngIf="aclDelete" matTooltip="Delete">
                                                <a (click)="openDialog(serviceGroup._id)">
                                                    <i class="fa fa-trash text-navy"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="container-fluid" *ngIf="serviceGroupLength==0 ">
                                <div class="row">
                                    <div class="dataTables_info1">
                                        <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                                            No records found
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>
                    <div class="container-fluid" *ngIf="serviceGroupLength>0">
                        <div class="row col-md-12 text-center">
                            <div class="dataTables_info1">
                                <div *ngIf="del">
                                    <ngb-pagination [collectionSize]="serviceGroupLength" (pageChange)="pagingAgent($event)" [page]="1" [pageSize]="pageSize"
                                        aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                                </div>
                                <div *ngIf="!del">
                                    <ngb-pagination [collectionSize]="serviceGroupLength" (pageChange)="pagingAgent($event)" [page]="1" [pageSize]="pageSize"
                                        aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
