<div class="row animated fadeInRight list-payment-extra">
  <div class="input-group">
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <div class="row">
              <div class="col-sm-12">
                <h3>Driver Details</h3>
                <!-- <p><small>{{driverDetails?.name}} - {{driverDetails?.username}}</small></p> -->
              </div>
            </div>
            <!-- </form> -->
            <div class="ibox-content pt-30">
              <div class="row">
                <div class="col-sm-2">
                  <img style="vertical-align:middle;" class="img img-rounded" aria-hidden
                    src="{{driverDetails && driverDetails.profile_picture ? apiUrl +driverDetails.profile_picture+imageext : 'assets/img/noimage.jpg'}}"
                    height="100" width="100" />
                </div>
                <div class="col-sm-10">
                  <b>{{driverDetails?.username}}</b><br />
                  {{driverDetails?.name}}<br />
                  {{driverDetails?.formatted_phone_number}}<br />
                  {{driverDetails.is_company_driver && driverDetails.is_company_driver==1?'Freelance driver':'Company driver'}}
                </div>
              </div>
              <div class="fm-row row">
                <div class="col-xs-2 custom-position">
                  <input [(ngModel)]="selectedMoment" name="start_date" [max]="max" [owlDateTimeTrigger]="dtPicker1"
                    [owlDateTime]="dtPicker1" placeholder="Start Date" class="form-control">
                  <i class="fa fa-calendar" style="font-size: 20px;float: right;" [owlDateTimeTrigger]="dtPicker1"></i>
                  <owl-date-time #dtPicker1></owl-date-time>
                </div>

                <div class="col-xs-2 custom-position">
                  <input [(ngModel)]="selectedMoment1" name="end_date" [min]="selectedMoment"
                    [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2" placeholder="End Date"
                    class="form-control">
                  <i class="fa fa-calendar" style="font-size: 20px;float: right;" [owlDateTimeTrigger]="dtPicker2"></i>
                  <owl-date-time #dtPicker2></owl-date-time>
                </div>
                <div class="col-sm-8 text-right">
                  <button (click)="getOrders()" class="btn btn-sm btn-primary blue">
                    <i class="fa fa-search"></i> Search</button>
                  <button class="btn btn-sm btn-primary red" (click)="reset()">
                    <i class="fa fa-eraser"></i> Reset filters </button>
                </div>
              </div>
              <h4>Trip Ratings</h4>
              <div *ngIf="ratingDataLength>0">Total records :{{ratingDataLength}}</div>
              <div class="table-responsive custom-table">
                <table class="table table-striped driver-listing table-bordered zoom">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Customer Rating</th>
                      <th>Customer Comment</th>
                      <th>Driver Rating</th>
                      <th>Driver Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <span *ngIf="searchLoader2">
                      <img src="assets/img/loader.gif" class="loader-img" />
                    </span>
                    <tr *ngFor="let order of ratingData">
                      <td>
                        {{order.unique_order_id ? order.unique_order_id : 'NA'}}
                      </td>
                      <td>
                        {{order.cu_to_dr_ratings ? order.cu_to_dr_ratings: 'NA'}}
                      </td>
                      <td>
                        {{order?.cu_to_dr_comments}}
                      </td>
                      <td>
                        {{order.dr_to_cu_ratings ? order.dr_to_cu_ratings: 'NA'}}
                      </td>
                      <td>
                        {{order?.dr_to_cu_comments}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="container-fluid" *ngIf="ratingDataLength > 0">
                <div class="row col-md-12 text-center">
                  <div class="dataTables_info1">
                    <div>
                      <ngb-pagination [collectionSize]="ratingDataLength" (pageChange)="tripRatingPagingAgent($event)"
                        [(page)]="pageNo2" [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5"
                        [boundaryLinks]="true">
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid" *ngIf="ratingDataLength==0">
                <div class="row">
                  <div class="dataTables_info1">
                    <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                      No records found.
                    </div>
                  </div>
                </div>
              </div>
              <h4>Flagged orders</h4>
              <div *ngIf="orderLength>0">Total records :{{orderLength}}</div>
              <div class="table-responsive custom-table">
                <table class="table table-striped driver-listing table-bordered zoom">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Flagged cases</th>
                      <th>Timestamp</th>
                    </tr>
                  </thead>
                  <tbody>
                    <span *ngIf="searchLoader">
                      <img src="assets/img/loader.gif" class="loader-img" />
                    </span>
                    <tr *ngFor="let order of orderData">
                      <td>
                        <span>{{order.unique_order_id ? order.unique_order_id : 'NA'}}
                        </span>
                      </td>
                      <td>
                        <div *ngIf='order.flagged_cases'>
                          <table class="table table-bordered small">
                            <tr>
                              <th *ngIf='order.flagged_cases.customer_cancellation'>Customer cancellation</th>
                              <!-- <th *ngIf='order.flaggedDrivers && order.flaggedDrivers.length>0'>
                                          Flagged drivers</th> -->
                              <th *ngIf='order.flagged_cases.issues_type && order.flagged_cases.issues_type.length>0'>
                                Issue types</th>
                              <!-- <th
                                          *ngIf='order.flagged_cases.order_timed_out_drivers && order.flagged_cases.order_timed_out_drivers.length>0'>
                                          Order timed out drivers</th> -->
                              <!-- <th
                                          *ngIf="order.flagged_cases.rejected_drivers && order.flagged_cases.rejected_drivers.length>0">
                                          Rejected drivers</th> -->
                            </tr>
                            <tr>
                              <td *ngIf='order.flagged_cases.customer_cancellation'>
                                {{order.flagged_cases.customer_cancellation}}
                              </td>
                              <!-- <td *ngIf='order.flaggedDrivers && order.flaggedDrivers.length>0'>
                                          <span *ngFor="let fc of order.flaggedDrivers">
                                            <div class="pop-up"><span>{{fc.username}}</span>
                                              <div class="popup-box">
                                                Driver name: <span style="float:right"><b>{{fc.name}}</b></span><br />
                                                Phone number: <span style="float:right"><b>{{fc.phone_number}}</b></span>
                                              </div>
                                            </div>
                                            <br />
                                          </span>
                                        </td> -->
                              <td *ngIf='order.flagged_cases.issues_type && order.flagged_cases.issues_type.length>0'>
                                <span *ngFor="let it of order.flagged_cases.issues_type">
                                  {{it}}<br />
                                </span>
                              </td>
                              <!-- <td
                                          *ngIf='order.flagged_cases.order_timed_out_drivers && order.flagged_cases.order_timed_out_drivers.length>0'>
                                          <span *ngFor="let ot of order.flagged_cases.order_timed_out_drivers">
                                            {{ot}}<br />
                                          </span>
                                        </td> -->
                              <!-- <td
                                          *ngIf="order.flagged_cases.rejected_drivers && order.flagged_cases.rejected_drivers.length>0">
                                          <span *ngFor="let rd of order.flagged_cases.rejected_drivers">
                                            {{rd}}<br />
                                          </span>
                                        </td> -->
                            </tr>
                          </table>
                        </div>
                      </td>
                      <td>
                        <span>{{order.order_created_time ? order.order_created_time: ' NA '}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <div class="container-fluid" *ngIf="orderLength > 0">
                <div class="row col-md-12 text-center">
                  <div class="dataTables_info1">
                    <div>
                      <ngb-pagination [collectionSize]="orderLength" (pageChange)="pagingAgent($event)"
                        [(page)]="pageNo" [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5"
                        [boundaryLinks]="true">
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid" *ngIf="orderLength==0">
                <div class="row">
                  <div class="dataTables_info1">
                    <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                      No records found.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>