<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-md-12">
    <h2>Wallet Managment</h2>
  </div>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/wallet/wallets']">
    <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc">
      <b>Wallets</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/wallet/wallet-transactions']">
    <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc">
      <b>Wallet Transactions</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/wallet/wallet-settlements']">
    <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc">
      <b>Wallet Finalisation Report</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/wallet/wallet-cashier']">
    <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc">
      <b>Wallet Cashier</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/wallet/wallet-bonus-penalty']">
    <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc">
      <b>Bonus - Penalties - Adjustments</b>
    </div>
  </a>
</div>
<div class="gallery">
  <a [routerLink]="['/admin/wallet/wallet-driver']">
    <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc">
      <b>Driver Reconcile Report</b>
    </div>
  </a>
</div>