<div class="col-lg-12 animated fadeInRight">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>
                            <b>Manage Dubai Major Zones</b>
                        </h3>
                        <div class="fm-row float2">
                            <div class="fm-row">

                            </div>
                            <div class="text-right">
                                <div class="col-md-12 text-right">
                                    <div class="col-xs-4 custom-position">
                                        <input [(ngModel)]="searchBar" placeholder="Search Zones" class="form-control input-sm-3" name="searchBar"
                                            (ngModelChange)="searchZone()">
                                    </div>
                                    <ng-container>
                                        <button type="submit" class="btn btn-sm btn-primary blue"
                                            [routerLink]="['/admin/administration/mini-zone/all']">
                                            All zones
                                        </button>
                                        <ng-container *ngIf="aclAdd">
                                            <button type="submit" class="btn btn-primary btn-sm green"
                                            [routerLink]="['/admin/administration/mini-zone/add']">
                                            Add new zone <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </ng-container>
                                       
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Zone Name</th>
                                            <th>Time</th>
                                            <th *ngIf="aclEdit || aclDelete">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <span *ngIf="showLoader">
                                            <img src="assets/img/loader.gif" class="loader-img" />
                                        </span>
                                        <tr *ngFor="let zone of zones">
                                            <td>{{zone.name}}</td>
                                            <td>{{zone.created_at}}</td>
                                            <td *ngIf="aclEdit || aclDelete">
                                                <span *ngIf="aclEdit" matTooltip="Edit" style="margin-right: 5px;">
                                                    <a
                                                        [routerLink]="['/admin/administration/mini-zone/edit', zone._id]"><i
                                                            class="fa fa-eye"
                                                            aria-hidden="true"></i></a>
                                                </span>
                                                <span *ngIf="aclEdit" matTooltip="Delete" style="margin-right: 5px;">
                                                    <a (click)="renameSubZones(zone)"><i
                                                            class="fa fa-edit text-navy"></i></a>
                                                </span>
                                                <span *ngIf="aclDelete" matTooltip="Delete" style="margin-right: 5px;">
                                                    <a (click)="deleteZone(zone._id)"><i
                                                            class="fa fa-trash text-navy"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>


                            <!-- <div class="container-fluid" *ngIf="zoneLength>0">
                              <div class="row col-md-12 text-center">
                                  <div class="dataTables_info1">

                                      <div>
                                          <ngb-pagination [collectionSize]="zoneLength" (pageChange)="pagingAgent($event)" [page]="1" [pageSize]="pageSize" aria-label="Default pagination"
                                              [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="container-fluid" *ngIf="zoneLength==0">
                              <div class="row">
                                  <div class="dataTables_info1">
                                      <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                                          No records found.
                                      </div>
                                  </div>
                              </div>
                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>