<div class="col-lg-12 animated fadeInRight list-payment-extra">
  <div class="input-group">
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <div class="row">
              <div class="col-sm-12">
                <h3>
                  <b>Role Management</b>
                </h3>
              </div>
            </div>
            <div class="fm-row">
              <div class="row">
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-sm btn-primary blue" [routerLink]="['/admin/role-management/add-role']"><i class="fa fa-plus"></i> Add new role</button>
                </div>
                <div class="col-sm-3 col-md-3 text-center" *ngIf="disabledCompany">
                  <mat-select [(ngModel)]="company_id_list" (change)="setCompanyList($event);" placeholder="Company"
                      class="form-control" multiple>
                      <mat-option *ngFor="let company of companyData" [value]="company._id">{{company.company_name}}
                      </mat-option>
                  </mat-select>
                </div>

                <!-- <div class="col-sm-4">
                  <input matInput placeholder="Select User" class="form-control"
                    name="name" (ngModelChange)="searchPartner($event)" [(ngModel)]="name" aria-label="Partners"
                    [matAutocomplete]="userlist">
                  <mat-autocomplete #userlist="matAutocomplete" (optionSelected)='getPosts($event)' [displayWith]="displayFndpartner">
                    <mat-option *ngFor="let data of list" [value]="data.company_name">
                      <span>{{ data.company_name }}</span>
                    </mat-option>
                    <mat-option *ngIf="userList == '' && userList.length == 0">No Matches Found</mat-option>
                  </mat-autocomplete>
                </div> -->
              </div>
            </div>
            <div class="ibox-content">
              <div class="table-responsive custom-table">
                <table class="table table-striped table-bordered table-responsive zoom">
                  <thead>
                    <tr>
                      <th>
                        Role
                      </th>
                      <th class="text-right">
                        Access Control Permissions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let acl of aclList">
                      <td>
                        {{acl.role}}
                      </td>
                      <td class="text-right">
                        <button type="submit" class="btn btn-sm btn-primary green" [routerLink]="['/admin/role-management/access-permissions/', acl._id, acl.company_id]">Add Permissions</button>
                        <ng-container *ngIf="disabledDelete">
                            <button type="submit" class="btn btn-sm btn-primary red" (click)="openDialog(acl._id)">Delete</button>
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>


                <br><!-- Removed for aot
                <div class="container-fluid" *ngIf="paymentLength > 0">
                  <div class="row col-md-12 text-center">
                    <div class="dataTables_info1">
                      <ngb-pagination [collectionSize]="paymentLength" (pageChange)="pagingAgent($event)" [page]="1"
                        [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                  </div>
                </div>
                <div class="container-fluid" *ngIf="paymentLength==0">
                  <div class="row">
                    <div class="dataTables_info1">
                      <div class="col-md-12 text-center form-group">
                        No records found
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
