<div class="msg-pop orderinfo">
  <div>
    <h3>Vehicle</h3>
  </div>
</div>
<div>
  <div class="pop--inner">
    <form [formGroup]="editForm" (ngSubmit)="updateVehicles();"  class="form-horizontal">
      <div class="row div-scroll" >
       <!-- <div class="col-sm-12 ">
            <label class="control-label">Selected Vehicles

            </label>
            <br>
            <div class="col-sm-12 pad">
              <ul class="heroes">
                <li *ngFor='let vehicleData of deviceAddData.vehicle_id; let i = index'  >
                    <span class="badge"></span> {{vehicleData.display_name}}
                  <button class="delete" title="Delete Vehicle" (click)="deleteVehicles(i, vehicleData._id)">x</button>
                </li>
              </ul>
          </div>
          </div>
        </div>
      <div class="col-sm-12 pad">
        <label class="control-label">Select Vehicle</label>
        <br>
        <div class="col-sm-4 pad">
          <div class="form-group vehicle-align">
            <mat-select class="form-control" multiple name="vehicle_id" formControlName="vehicle_id" [(ngModel)]="vehicle_id" placeholder="Select Vehicle">
              <mat-option *ngFor="let vehicle of vehiclesData" [value]="vehicle._id">{{vehicle.display_name}}</mat-option>
            </mat-select>
          </div>
        </div>-->
        <mat-chip-list #chipList2 aria-orientation="vertical">
          <mat-chip *ngFor="let vehicleData of vehicleFilter;" [selectable]="selectable"
                   [removable]="removable" (removed)="removeVehicle(vehicleData)" style="font-size:10px;">
                   {{vehicleData.display_name}}
          <mat-icon matChipRemove class="fa fa-times-circle"></mat-icon>
          </mat-chip>
          <br/>
          <input 
          class="form-control custom-class-border"
                 [formControl]="vehicleCtrl"
                 placeholder="Select vehicle"
                 [matChipInputFor]="chipList2"
                 [matAutocomplete]="auto3"
                 >
        </mat-chip-list>
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFnVehicleId" (optionSelected)="vehicleIdselected($event)">
          <mat-option *ngFor="let vehicle of vehiclesData" [value]="vehicle">
            {{vehicle.display_name}}
          </mat-option>
        </mat-autocomplete>
      </div>
        <div class="pop-btn text-right">
        <span class="red">{{invalid}}</span>
        <button class="btn btn-sm btn-primary blue" type="submit" >Save</button>
        <button class="btn btn-sm btn-primary red" type="button" (click)="closePop()">Cancel</button>
      </div>
     </form>
  </div>
</div>
