<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-md-12">
  <h2>Zones</h2>
  </div>
</div> 
  
<div>
  
  <!-- <div class="gallery">
      <a [routerLink] = "['/admin/administration/zones/allzones']">
   <img class="icon-img" src="assets/img/extra.png" alt="MyTaxi">
    <div class="desc"> 
        <b> Zones </b>
    </div>
  </a>
  </div> -->

  <div class="gallery">
      <a [routerLink] = "['/admin/administration/zones/zonelist']">
   <img class="icon-img" src="assets/img/type.png" alt="MyTaxi">
    <div class="desc"> 
        <b> Zone Lists </b>
    </div>
  </a>
  </div>

</div>
