<div class="container home-page">
<h1>
  <img src="assets/mobility/images/dtc_logo.png" alt="DTC Logo" height="200" />
</h1>

  <div class="link_button">
    <a [routerLink]= "['/dispatcher']"  class="btn btn-primary btn-lg reset-blue">Dispatcher</a>
    <a [routerLink]= "['/admin']"  class="btn btn-primary btn-lg reset-blue">Admin</a>

  </div>
</div>
