/* Header */
header{padding:0px 0px; float: left; width: 100%; background: #211c47;}
.logo{float:left; margin: 9px 0 0 0;}
.header-right{float: right;cursor: pointer;}
.date-time{padding: 6px 15px;background:#fff; border-radius: 20px; font-size: 13px; display: inline-block;margin: 8px 5px 0 0px;}
.date-time i.fa-clock-o{font-size:16px; margin:0 2px; color:#565b8d;}
.c-time{color:#565b8d;}
.top-link{display: inline-block; position: relative; font-size: 22px; color:#fff;padding: 9px 15px; background:rgba(255,255,255,0.1); vertical-align: top;}
.log-profile{width: 22px; height: 22px; display: inline-block; border:1px solid #fff; border-radius: 50%;}
.log-profile i,.header-right i,.header-right i:hover{color:#fff;}
.logout-btn{font-size: 13px; font-weight: 300; padding:15px 15px;}
.logout-btn i{font-size:15px; margin-left: 6px}
/* Header */
.background-style{
  background: #fff;    float: left;
  width: 100%;
}
body {
  background-color: #fff;
}
.mat-dialog-container{padding: 24px 24px !important;}
.notificationCount{
  font-size: 9px;
  border-radius: 50%;
  padding: 3px;
  background-color: #FF0000;
  color: #FFF;
  position: absolute;
  top: 7px;
  right: 6px
}
.bell-active{
  background-color:#565b8d; 
}