<header>
  <div class="container">
    <div class="logo">
      <a href="javascript:;" [routerLink]="['/dispatcher']">
        <img src="assets/mobility/images/logo.png" alt="JAYKAY Logo" />
      </a>
    </div>
    <!-- Logo ENds -->
    <div class="header-right">
      <img src="assets/mobility/images/socket_on.png" height="30px" *ngIf="connIcon" style="padding-right:5px" />
      <img src="assets/mobility/images/socket_off.png" height="30px" *ngIf="!connIcon" style="padding-right:5px" />
      <img src="assets/mobility/images/socket_off.png" height="30px" *ngIf="connIcon" style="padding-right:5px;display: none" />

      <span class="date-time">
        <span class="c-date">{{dateName }}</span>
        <span class="c-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{dateTime }}</span>
      </span>
      <a class="top-link" (click)="toastAlert();" [ngClass]="{'bell-active':isActive}">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span *ngIf="notificationCount>0" class="notificationCount">{{notificationCount}}</span>
      </a>
      <!-- <a [routerLink]="['map']" class="top-link">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </a> -->
      <a class="top-link" (click)="full_map($event)">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </a>
      <a *ngIf="companyType==1" [routerLink]="['vehicles']" class="top-link">
        <i class="fa fa-car" aria-hidden="true"></i>
      </a>
      <button class="top-link logout-btn" (click)="admin()">Admin </button>

      <!--<a href="javascript:;" class="top-link"><span class="log-profile"></span>  <i class="fa fa-bars" aria-hidden="true"></i></a>-->
      <button class="top-link logout-btn" (click)="logout()">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>

    </div>
    <!-- Header right Ends -->
  </div>
  <!-- Container Ends -->
</header>