.sorted-color{
    color:#eee;
  }
  table th span i.fa-sort-asc,table th span i.fa-sort-desc{float: right; margin: 3px -5.3px 0 -5.3px;}
  .vehicle-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    }
    
    .vehicle-icon-img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
    