<div class="col-lg-12 animated fadeInRight">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h3>
              <b>Manage Vehicle Categories</b>
            </h3>
            <div class="fm-row float2">
              <div class="row">
                <div class="col-sm-4">
                  <!--<input [(ngModel)]="name" autocomplete="off" (keydown.enter)="getVehicleModel(item.value)" autocomplete="off" name="name" type="text" #item
                                      class="form-control input-sm-3" placeholder="Search For Vehicle Model" />-->
                </div>
                <div class="col-sm-8 text-right">
                  <!--<button type="get" (click)="getVehicleModel(item.value);" class="btn btn-sm btn-primary blue">
                    <i class="fa fa-search"></i> Search</button>-->
                  <button class="btn btn-sm btn-primary green" (click)="refetchVehicleModel()">
                    <i class="fa fa-refresh"></i> Refresh</button>
                  <!-- <button class="btn btn-sm btn-primary red" (click)="reset()">
                    <i class="fa fa-eraser"></i> Reset filters</button> -->
                  <ng-container *ngIf="aclAdd">
                    <button type="submit" class="btn btn-primary btn-sm blue"
                      [routerLink]="['/admin/fleet/vehicle-category/add']">Add
                      new record</button>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-responsive">
                  <thead>
                    <tr>
                      <th>Vehicle Category image</th>
                      <th>Vehicle app icon</th>
                      <th>Name</th>
                      <th>Short Description</th>
                      <th>Detailed Description</th>
                      <th>Seat Counts</th>
                      <th>Fare Breakdown</th>
                      <th>Type</th>
                      <th>Default</th>
                      <th>Tarriffs</th>
                      <th>Payment Types</th>
                      <th>Priority</th>
                      <th>In app views</th>
                      <th>Booking Available</th>
                      <th>Scheduling threshholds(minutes)</th>
                      <th>Destination Skip allowed</th>
                      <th>Max ETA for schedule (minutes)</th>
                      <th>Max Radius to dispatch (km)</th>
                      <th>Vehicle limit to timeout (count)</th>
                      <th>First vehicle fetch threshhold (count)</th>
                      <th>Vehicle count on single fetch (count)</th>
                      <th>Disabled status</th>
                      <th>Block status </th>
                      <th *ngIf="aclEdit || aclDelete">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <span *ngIf="searchLoader">
                      <img class="loader-img" src="assets/img/loader.gif" />
                    </span>
                    <tr *ngFor="let vehicleCategory of CategoryData">
                      <td><img class="vehicle-img"
                          [src]="vehicleCategory.category_image? imageUrl + '/uploads/vehiclemodels/' + vehicleCategory.category_image: '../../assets/img/vehicle.jpeg'">
                      </td>
                      <td><img class="vehicle-icon-img"
                          [src]="vehicleCategory.icon_image? imageUrl + '/uploads/vehiclemodels/' + vehicleCategory.icon_image: '../../assets/img/vehicle.jpeg'">
                      </td>
                      <td>{{vehicleCategory.name}}</td>
                      <td>{{vehicleCategory.short_description}}</td>
                      <td>{{vehicleCategory.detailed_description}}</td>
                      <td>{{vehicleCategory.seat_count}}</td>
                      <td>{{vehicleCategory.fare_breakdown}}</td>
                      <td>{{vehicleCategory.type}}</td>
                      <td>{{vehicleCategory.isDefault}}</td>
                      <td><span *ngFor='let tarrif of vehicleCategory.tarrifs'>
                          {{tarrif.name}}<br />
                        </span>
                      </td>
                      <td><span *ngFor='let payment_type of vehicleCategory.payment_types'>
                          {{payment_type.payment_type}}<br />
                        </span>
                      </td>
                      <!--<td>{{vehicleModel.number_of_person}} </td>-->
                      <td>{{vehicleCategory.priority}}</td>
                      <td *ngIf='vehicleCategory.visible_short_menu'>
                        <p *ngIf='vehicleCategory.visible_short_menu=="true"'>Allowed in Compressed View</p>
                        <p *ngIf='vehicleCategory.visible_short_menu=="false"'>Not Allowed in Compressed View</p>
                        <p *ngIf='vehicleCategory.visible_expand_menu=="true"'>Allowed in Expanded View</p>
                        <p *ngIf='vehicleCategory.visible_expand_menu=="false"'>Not Allowed in Expanded View</p>
                      </td>
                      <td *ngIf='!vehicleCategory.visible_short_menu'>
                        <p>Allowed in Compressed View</p>
                        <p>Allowed in Expanded View</p>
                      </td>
                      <td *ngIf='vehicleCategory.available_for'>
                        <p *ngIf='vehicleCategory.available_for=="2"'>Book now & schedule Ride enabled</p>
                        <p *ngIf='vehicleCategory.available_for=="1"'>Schedule Ride Only enabled</p>
                        <p *ngIf='vehicleCategory.available_for=="0"'>Book now Only enabled</p>
                      </td>
                      <td *ngIf='!vehicleCategory.available_for'>
                        <p>Book now & schedule enabled</p>
                      </td>
                      <td *ngIf='vehicleCategory.schedule_before'>
                        <p *ngIf='vehicleCategory.schedule_before!=="0"'>Schedule allow after -
                          {{vehicleCategory.schedule_before}}</p>
                        <p *ngIf='vehicleCategory.schedule_before=="0"'>Schedule allow after -
                          NA</p>
                        <p *ngIf='vehicleCategory.schedule_upto!=="0"'>Schedule allow upto -
                          {{vehicleCategory.schedule_upto}}</p>
                        <p *ngIf='vehicleCategory.schedule_upto=="0"'>Schedule allow upto -
                          NA</p>
                      </td>
                      <td *ngIf='!vehicleCategory.schedule_before'>
                        <p>Schedule allow after -
                          NA</p>
                        <p>Schedule allow upto -
                          NA</p>
                      </td>
                      <td *ngIf='vehicleCategory.distance_to_timeout'>
                        <p>{{vehicleCategory.distance_to_timeout}} km</p>
                      </td>
                      <td *ngIf='!vehicleCategory.distance_to_timeout'>
                        <p>NA</p>
                      </td>
                      <td *ngIf='vehicleCategory.vehicles_count_to_timeout'>
                        <p>{{vehicleCategory.vehicles_count_to_timeout}}</p>
                      </td>
                      <td *ngIf='!vehicleCategory.vehicles_count_to_timeout'>
                        <p>NA</p>
                      </td>
                      <td *ngIf='vehicleCategory.min_vehicle_count'>
                        <p>{{vehicleCategory.min_vehicle_count}}</p>
                      </td>
                      <td *ngIf='!vehicleCategory.min_vehicle_count'>
                        <p>NA</p>
                      </td>
                      <td *ngIf='vehicleCategory.total_vehicle_count_limit'>
                        <p>{{vehicleCategory.total_vehicle_count_limit}}</p>
                      </td>
                      <td *ngIf='!vehicleCategory.total_vehicle_count_limit'>
                        <p>NA</p>
                      </td>
                      <td>
                        <p *ngIf='!vehicleCategory.skip_destination'>NA</p>
                        <p *ngIf='vehicleCategory.skip_destination=="true"'>Allowed</p>
                        <p *ngIf='vehicleCategory.skip_destination=="false"'>Not Allowed</p>
                      </td>
                      <td>
                        <p *ngIf='!vehicleCategory.eta_for_schedule_only'> NA</p>
                        <p *ngIf='vehicleCategory.eta_for_schedule_only'>{{vehicleCategory.eta_for_schedule_only}}</p>
                      </td>
                      <td>
                        <p *ngIf='!vehicleCategory.block_status'> NA</p>
                        <p *ngIf='vehicleCategory.block_status=="true"'>Blocked</p>
                        <p *ngIf='vehicleCategory.block_status=="false"'>Unblocked</p>
                      </td>
                      <td>
                        <p *ngIf='!vehicleCategory.isDisabled'> NA</p>
                        <p *ngIf='vehicleCategory.isDisabled=="true"'>Disabled</p>
                        <p *ngIf='vehicleCategory.isDisabled=="false"'>Active</p>
                      </td>
                      <td *ngIf="aclEdit || aclDelete">
                        <span *ngIf="aclEdit" matTooltip="Edit">
                          <a [routerLink]="['/admin/fleet/vehicle-category/edit', vehicleCategory._id]">
                            <i class="fa fa-edit text-navy"></i>
                          </a>
                        </span>&nbsp;&nbsp;&nbsp;
                        <span *ngIf="aclDelete" matTooltip="Delete">
                          <a (click)="openDialog(vehicleCategory._id)">
                            <i class="fa fa-trash text-navy"></i>
                          </a>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>

              <div class="container-fluid" *ngIf="vehicleCategoryLength>0">
                <div class="row col-md-12 text-center">
                  <div class="dataTables_info1">
                    <div *ngIf="del">
                      <ngb-pagination [collectionSize]="vehicleCategoryLength" (pageChange)="pagingAgent($event)"
                        [page]="1" [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5"
                        [boundaryLinks]="true"></ngb-pagination>
                    </div>
                    <div *ngIf="!del">
                      <ngb-pagination [collectionSize]="vehicleCategoryLength" (pageChange)="pagingAgent($event)"
                        [page]="1" [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="5"
                        [boundaryLinks]="true"></ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid" *ngIf="vehicleCategoryLength==0">
                <div class="row">
                  <div class="dataTables_info1">
                    <div class="col-md-4 form-group" style="text-align:center;margin-left:32%">
                      No records found.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>